 <!-- views/partials/foot.html --> 
<div id="footerwraper">
<ul id="letras">
    <li>
        <a href="../pdfs/tems.pdf" class="footex" target="_blank">Términos y Condiciones</a>
    </li>
    <li>
        <a href="../pdfs/privacy.pdf" class="footex" target="_blank">Políticas de Privacidad</a>
    </li>
    <li>
        <a href="../pdfs/cookies.pdf" class="footex" target="_blank">Cookies</a>
    </li>
</ul>
<ul class="iconos">
    <li>
        <a class="faceicon" href="https://www.facebook.com/TheBackgroundRemover/" rel="nofollow" target="_blank"><span>fac</span></a>
    </li>
    <li>
        <a class="twiticon" href="https://www.twitter.com/imgn_pro/" rel="nofollow" target="_blank"><span>twi</span></a>
    </li>
    <li>
        <a class="insticon" href="https://www.instagram.com/imgnpro/" rel="nofollow" target="_blank"><span>ins</span></a>
    </li>
</ul>
    <span id="siteseal">
        <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=MM8zFLA1javq1eFaGcvXAxCizAwhbOeBEtWtmH2HxtB9DsFEbuTbkOPcnTG5">
        </script>
    </span>

</div>