<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>the background remover</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
        <script src="../js/google.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="../js/general.js"></script>
        <script src="../js/chooseanextra.js"></script>

    </head>
    <body>
        <header class="bienvenida">
            <ul>
                <li>Hola <a id="user" class="bold"><%= user.userlongname %></a><a class="bold">!</a></li>
                <li>Órdenes en Proceso <a id="orders" class="bold"><%= countorders %></a></li>
                <li><a id="salir" class="bold" href="/logout">Salir</a></li>
            </ul>
        </header>
        <section id="menuver">
            <nav>
                <ul>
                    <li class="menulogo"><h1><a href="/principal"><img src="../images/logo_black.png" alt="logo"></a></h1></li>
                    <li><a href="/micuenta">Mi Cuenta</a></li>
                    <li><a href="/historial">Historial</a></li>
                    <li><a href="/especificaciones1">Especificaciones</a></li>
                    <li><a href="/subirimagen1">Subir Imagenes</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </section>
    <section id="contenedor">
        <p class="encabezado">Paso 6: Mejora tu foto, escoge una o más opciones</p>
        <a class="ruta">Escoge una imagen</a>
        <a class="slash">/</a>
        <a class="ruta">Especificación</a>
        <a class="slash">/</a>
        <a class="ruta">Tamaño</a>
        <a class="slash">/</a>
        <a class="ruta">Alineación</a>
        <a class="slash">/</a>
        <a class="ruta">Margen</a>
        <a class="slash">/</a>
        <a class="ruta_on">Extras</a>
        <a class="slash">/</a>
        <a class="ruta">Subir imágenes</a>
        
        <div class="recontenedor">
            <form id = "extraForm" class="col3" action="" method="">
                <input name="sombra" type="checkbox" id="cuadroxtra1" value="1:1">
                <a href="#openShadowModal" class="cuadroxtra" for="cuadroxtra1">Sombra</a>
                <input name="color" type="checkbox" id="cuadroxtra2" value="2:3">
                <a href="#openColorModal" class="cuadroxtra" for="cuadroxtra2">Corrección de color</a>
                <input name="retoque" type="checkbox" id="cuadroxtra3" value="3:2">
                <a href="#openRetouchModal" class="cuadroxtra" for="cuadroxtra3">Retoque Básico</a>
                <input name="path" type="checkbox" id="cuadroxtra4" value="4:3">
                <a id="a_cuadroxtra4" href="#openPathModal" class="cuadroxtra" for="cuadroxtra4">Clipping Path</a>
                <input name="description" type="textarea" id="cuadroxtra5">
                <a id="a_cuadroxtra5" href="#openDescriptionModal" class="cuadroxtra" for="cuadroxtra5">Agregar una Descripcion (Gratis)</a>
            </form>
            <hr>
            <form class="col4">
                <label>Nombre de Especificación</label><br>
                <!-- <input type="text" placeholder="Nombra tu especificación" value="Mi Especificación"> -->
                <span id="nameSpec"></span>
            </form>
            <div class="labelito">
                <p class="texto_plano4">Precio por Imagen</p>
                <p class="texto_precio2"><span class="prefixmoney">USD</span>$<span id="totalprice">0</span></p>
                <p class="textoplanotemp2">Precio por Imagen</p>
            </div>
        </div>
        <div id= "div_msgDemo" style="display:none;" class="picnum2">Las opciones Extras no están disponibles en la versión Demo</div>
        <div class="picnum">Seleccione Extras</div>
        <hr>
        <div class="buttonback">
            <a href="/chooseamargin">Regresar</a>
        </div>
        <div class="buttoncont">
            <a id="savebuttonspec" href="">Continuar</a>
        </div>
    </section>

        <!--MODAL PARA SOMBRA-->
        <div id="openShadowModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Sombra</h1>
                <hr class="hrmodal">
                <form id="shadowForm1" class="shadow_form" action="" method="" name="shadow_form">
                    
                    <ul>
                        <li>
                            <input id="noshadow" name="shadow" type="radio" value="none" checked>
                            <label class="etiquetasxtras">Sin Sombra</label><label class="postextra"></label>
                        </li>
                        <li>
                            <input id="dropshadow" name="shadow" type="radio" value = <%= config.prices.dropshadow %>>
                            <label class="etiquetasxtras">Drop Shadow</label><label class="postextra">+ <span class="extreprefix">USD</span>$<%= config.prices.dropshadow %></label>
                        </li>
                        <li>
                            <input id="naturalshadow" name="shadow" type="radio" value = <%= config.prices.naturalshadow %>>
                            <label class="etiquetasxtras">Sombra Natural</label><label class="postextra">+ <span class="extreprefix">USD</span>$<%= config.prices.naturalshadow %></label>
                        </li>
                    </ul>
                    
            <!---SCRIPT PARA CAMBIAR FOTO SEGUN LO SELECIONADO-->                    
                    <script>
                        
                         document.getElementById('noshadow').onclick=function() {
                            if(this.checked) {
                                document.getElementById("shadowImage").src = "../images/sombranone.png";
                            }
                        }
                        
                        document.getElementById('dropshadow').onclick=function() {
                            if(this.checked) {
                                document.getElementById("shadowImage").src = "../images/sombradrop.png";
                            }
                        }
                        
                         document.getElementById('naturalshadow').onclick=function() {
                            if(this.checked) {
                                document.getElementById("shadowImage").src = "../images/sombranat.png";
                            }
                        }
                        
                    </script>
                    <div class="infomodal">
                        <img id="shadowImage" src="../images/sombranone.png">
                    </div>
                    <div>
                        <h1 id="res_message"></h1>
                    </div>   
                    <div class="buttonModal">
                        <a id="buttonshadow" href="#close">Aceptar</a>
                    </div>                               
                </form>
            </div>
        </div>
        
        <!--MODAL PARA COLOR-->
        <div id="openColorModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Corrección de Color</h1>
                <hr class="hrmodal">
                <form id="colorForm" action="" method="" name="color_form">
                    
                    <ul>
                        <li>
                            <input id="nonecolor" name="color" type="radio" checked>
                            <label class="etiquetasxtras">Sin Ajustes de Color</label><label class="postextra"></label>
                        </li>
                        <li>
                            <input id="correctcolor" name="color" type="radio" value=<%= config.prices.correctcolor %>>
                            <label class="etiquetasxtras">Ajuste de Color</label><label class="postextra">+ <span class="extreprefix">USD</span>$<%= config.prices.correctcolor %></label>
                        </li>
                    </ul>
                    <div class="infomodal">
                        <p class="texto_plano_modal">Corrección de brillo, contraste, niveles y saturación de color.</p>
                    </div>
                    <div>
                        <h1 id="res_message"></h1>
                    </div>   
                    <div class="buttonModal">
                        <a id="buttoncolor" href="#close">Aceptar</a>
                    </div>                               
                </form>
            </div>
        </div>
        
        <!--MODAL PARA RETOQUE-->
        <div id="openRetouchModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Retoque Básico</h1>
                <hr class="hrmodal">
                <form id="retouchForm" action="" method="" name="retouch_form">
                    
                    <ul>
                        <li>
                            <input id="noneretouch" name="retouch" type="radio" checked>
                            <label class="etiquetasxtras">Sin Retoque</label><label class="postextra"></label>
                        </li>
                        <li>
                            <input id="basicretouch" name="retouch" type="radio" value=<%= config.prices.basicretouch %>>
                            <label class="etiquetasxtras">Retoque Básico</label><label class="postextra">+ <span class="extreprefix">USD</span>$<%= config.prices.basicretouch %></label>
                        </li>
                    </ul>
                    <div class="infomodal">
                        <p class="texto_plano_modal">Se corrigen imperfecciones de la imagen; como polvo, rayones, etc.</p>
                    </div>
                    <div>
                        <h1 id="res_message"></h1>
                    </div>   
                    <div class="buttonModal">
                        <a id="buttonretouch" href="#close">Aceptar</a>
                    </div>                               
                </form>
            </div>
        </div>
        
        <!--MODAL PARA PATH-->
        <div id="openPathModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Clipping Path</h1>
                <hr class="hrmodal">
                <form id="pathForm" action="" method="" name="path_form">
                    
                    <ul>
                        <li>
                            <input name="path" type="radio" checked>
                            <label class="etiquetasxtras">Sin Clipping Path</label><label class="postextra"></label>
                        </li>
                        <li>
                            <input id="clippingpath" name="path" type="radio" value=<%= config.prices.clippingpath %>>
                            <label class="etiquetasxtras">Clipping Path</label><label class="postextra">+ <span class="extreprefix">USD</span>$<%= config.prices.clippingpath %></label>
                        </li>
                    </ul>
                    <div class="infomodal">
                        <p class="texto_plano_modal">Se guarda en la imagen el Clipping Path para recorte y posición de elementos fuera de la imagen.</p>
                    </div>
                    <div>
                        <h1 id="res_message"></h1>
                    </div>   
                    <div class="buttonModal">
                        <a id="buttonpath" href="#close">Aceptar</a>
                    </div>                               
                </form>
            </div>
        </div>
        
 <!--MODAL PARA DESCRIPTION-->
        <div id="openDescriptionModal" class="modalDialog">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Agregar una Descripcion</h1>
                <hr class="hrmodal">
                <form id="pathForm" action="" method="" name="path_form">
                    
                    <!--<label class="texto_plano">Descripcion Extra</label>-->
                 
                        <textarea id="description" class"textarea" type="text" maxlength="200" cols="6" rows="6" name="descriptiontext" placeholder="¿Algo que desees contarnos? "></textarea>
                    <div class="buttonModal">
                        <a id="buttondescription" href="#close">Enviar</a>
                    </div>                               
                </form>
                <br><br><br>
                <hr>
                <p>Aquí puedes poner detalles, comentarios o sugerencias acerca de tu pedido, esta información se enviara directamente al encargado de realizar toda la magia con tus imágenes </p>
            </div>
        </div>


        <aside id="menurigth">
            <p class="encabezado"> Tutorial</p>
             <div class="video_med"><a onclick="ponleplay()" href="#openVideoModal"><img src="../images/tumbnail_video.jpg" width="140px"></a></div>
            <hr>
            <p class="encabezado"> FAQs</p>
            <p><a class="texto_plano">1. ¿Están seguros mis datos?</a></p>
            <p><a class="texto_plano">2. ¿Tiempo de Entrega?</a></p>
            <p><a class="texto_plano">3. ¿Prueba Gratis?</a></p>
            <p><a class="texto_plano">4. ¿Cómo Pago?</a></p>
            <div class="button1">
            <a href="/faq">Ver más</a> 
            </div>
        </aside>
       <input id="configpricescutandremove" name="shadow" type="hidden" value=<%= config.prices.cutandremove %>>
    </body>
</html>