<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>the background remover</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <link rel="stylesheet" href="../stylesheets/dropzone.css">
        <link rel="stylesheet" href="../stylesheets/welcomemodal.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script src="../js/google.js"></script>
        <script type="text/javascript" src="../js/dropzone.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="../js/chooseanimage.js"></script>
    </head>
    <body>
        <header class="bienvenida">
            <ul>
                <li>Hola <a id="user" class="bold"><%= user.userlongname %></a><a class="bold">!</a></li>
                <li>Órdenes en Proceso <a id="orders" class="bold"><%= countorders %></a></li>
                <li><a id="salir" class="bold" href="/logout">Salir</a></li>
            </ul>
        </header>
        <section id="menuver">
            <nav>
                <ul>
                    <li class="menulogo"><h1><a href="/principal"><img src="../images/logo_black.png" alt="logo"></a></h1></li>
                    <li><a href="/micuenta">Mi Cuenta</a></li>
                    <li><a href="/historial">Historial</a></li>
                    <li><a href="/especificaciones1">Especificaciones</a></li>
                    <li><a href="/subirimagen1">Subir Imagenes</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </section>
    <section id="contenedor">
        <p class="encabezado">Paso 1: Selecciona una imagen y da click en continuar</p>
        <a class="ruta_on">Escoge una imagen</a>
        <a class="slash">/</a>
        <a class="ruta">Especificación</a>
        <a class="slash">/</a>
        <a class="ruta">Tamaño</a>
        <a class="slash">/</a>
        <a class="ruta">Alineación</a>
        <a class="slash">/</a>
        <a class="ruta">Margen</a>
        <a class="slash">/</a>
        <a class="ruta">Extras</a>
        <a class="slash">/</a>
        <a class="ruta">Subir imágenes</a>
        <div class="recontenedor">
            <form id = "imageForm" class="" action="newspec" method="post">
                <div class="col3">
                <input name="image" type="radio" id="cuadro1" value="../images/pizza.png">
                <label class="cuadro" for="cuadro1"><img class="imagebox" src="../images/pizza.png"></label>
                <input name="image" type="radio" id="cuadro2" value="../images/mueble.png">
                <label class="cuadro" for="cuadro2"><img class="imagebox" src="../images/mueble.png"></label>
                <input name="image" type="radio" id="cuadro3" value="../images/makeup.png">
                <label class="cuadro" for="cuadro3"><img class="imagebox" src="../images/makeup.png"></label>
                </div>
                <div class="col3">
                <input name="image" type="radio" id="cuadro4" value="../images/tenis.png">
                <label class="cuadro" for="cuadro4"><img class="imagebox" src="../images/tenis.png"></label>
                <input name="image" type="radio" id="cuadro7" value="../images/reloj.png">
                <label class="cuadro" for="cuadro7"><img class="imagebox" src="../images/reloj.png"></label>
                <input name="image" type="radio" id="cuadro6" value="../images/tool.png">
                <label class="cuadro" for="cuadro6"><img class="imagebox" src="../images/tool.png"></label>
                </div>
            </form>
        </div>
        <div class="picnum">Seleccione una Imagen de Ejemplo</div>
        <hr>
        <div class="buttoncont">
            <a href="" id="buttoncontorder">Continuar</a>
        </div>

        <div>
            <h1 id="res_message"></h1>
        </div>  
       <!--  <form id = "orderForm" class="" action="/neworder" method="post">
            <input type="hidden" name="imagelist" placeholder="" value=""><br>
        </form> -->
    </section>
        <aside id="menurigth">
            <p class="encabezado"> Tutorial</p>
             <div class="video_med"><a onclick="ponleplay()" href="#openVideoModal"><img src="../images/tumbnail_video.jpg" width="140px"></a></div>
            <hr>
            <p class="encabezado"> FAQs</p>
            <p><a class="texto_plano">1. ¿Están seguros mis datos?</a></p>
            <p><a class="texto_plano">2. ¿Tiempo de Entrega?</a></p>
            <p><a class="texto_plano">3. ¿Prueba Gratis?</a></p>
            <p><a class="texto_plano">4. ¿Cómo Pago?</a></p>
            <div class="button1">
            <a href="/faq">Ver más</a> 
            </div>
        </aside>
        <div id="welcome_modal">
            <div class="contwelcome">
                <p class="welcomebig">Bienvenido</p>
                <hr class="hrwelcome">
                <br>
                <p class="welcomenormal">Estás a punto de iniciar el proceso de mejora de fotografías.</p>
                <br>
                <p class="welcomenormal">Sigue paso a paso las instrucciones, y en tiempo record, recibirás tus imágenes editadas con la mejor calidad.</p>
                <br>
                <br>
                <div class="buttoncontwelcome">
                    <a href="#welcome_modal">Continuar</a>
                </div>
            </div>
        </div>
             <input id="dom_typespec" type="hidden"  value= '<%= typespec %>'>
             <input id="dom_specname" type="hidden"  value= '<%= specname %>'>
    </body>
</html>
