<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>the background remover</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <script src="../js/google.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script type="text/javascript">
            $(document).ready(function(){

                var strspecname = localStorage.getItem("specname");
                var v_typespec = localStorage.getItem("typespec");
                var nDPI = localStorage.getItem("DPI");
                var currentdpinone = localStorage.getItem("dpinone");
                $('#specname').focus();
                if(strspecname !== null){
                    $("#specname").attr("value",strspecname);
                }
                if(nDPI !== null){
                    $("#depeis").attr("value",nDPI);
                }
                if (currentdpinone !== null){
                    if (currentdpinone === 'none'){
                        $('input:checkbox[name=dpinone]').prop('checked',true);
                    }
                    else{
                        $('input:checkbox[name=dpinone]').prop('checked',false);
                    }
                    desactAllNext();
                    //$('#marco').removeClass(currentClassName).addClass(currentAlignHor);  
                    //$('#' + currentAlignHor).prop("checked", true);
                }
                if (v_typespec == 'free'){

                    desactForm('specForm');       

                }

                $('#buttonspec').click(function (ev) {
                    var imageselected = localStorage.getItem('imageselected');
                    if ($('#specname').val().trim() === ''){
                        alert("Favor de capturar el nombre de la especificación");    
                        $('#specname').focus();
                    }
                    else{

                          localStorage.setItem("specname", $('input:text[name=name]').val());
                          localStorage.setItem("format", $('select[name="format"]').val());
                          localStorage.setItem("colormode", $('select[name="colormode"]').val());
                          localStorage.setItem("background", $('select[name="background"]').val());
                          localStorage.setItem("backgrndcolor", $('#colorselect').val());
                          localStorage.setItem("dpinone","");
                          localStorage.removeItem("DPI");

                        
                          if($('input:checkbox[name=dpinone]').is(":checked")) {
                            localStorage.setItem("dpinone", $('input:checkbox[name=dpinone]').val());
                          }
                          else
                          {
                            localStorage.setItem("DPI", $('input:text[name=DPI]').val());
                          }
                          document.location.href="/chooseasize";
                    }
                    ev.preventDefault();
                });
                // $("#imageForm input[name=image]").change(function(){
                //     var imageselected = $('input:radio[name=image]:checked').val();
                //     localStorage.setItem("imageselected", imageselected);
                // });

                // var buttonspec = $('#buttonspec');
                // var frm = $('#specForm');
                // buttonspec.click(function (ev) {
                //     $.ajax({
                //         type: frm.attr('method'),
                //         url: frm.attr('action'),
                //         data: frm.serialize(),
                //         success: function (data) {
                //             if (data.error == 1 ){
                //                 document.getElementById('res_message').innerHTML= data.message;    
                //             }
                //             else{
                //                 setTimeout(window.location='/subirimagen4.html',500);
                //             }
                //         }
                //     });
                //     ev.preventDefault();
                // });  
//$( "#myselect option:selected" ).text();

//                $("#background").change(function() {
//                    if($("#background option:selected").text() ==='COLOR' ){
//                        $('#colorselect').prop("disabled", false);
//                      }
//                    else{
//                       $('#colorselect').prop("value", '#ffffff');
//                       $('#colorselect').prop("disabled", true);
//
//                    }
                $("#background").change(function() {
                    if($("#background option:selected").text() ==='COLOR' ){
                        $('#colorselect').prop("disabled", false);
                      }
                    if($("#background option:selected").text() ==='BLANCO' ){
                        $('#colorselect').prop("value", '#FFFFFF');
                        $('#colorselect').prop("disabled", true);
                      }
                    if($("#background option:selected").text() ==='NEGRO' ){
                        $('#colorselect').prop("value", '#000000');
                        $('#colorselect').prop("disabled", true);
                      }
                    if($("#background option:selected").text() ==='SIN FONDO' ){
                        $('#colorselect').prop("value", '#E5E5E5');
                        $('#colorselect').prop("disabled", true);
                      }
                
                });
                $("#format").change(function() {

                    //alert( $("#format option:selected").text());
                      $('#sin_fondo').prop("disabled", false);
                      $('#mode_cmyk').prop("disabled", false);
                      if($("#format option:selected").text() ==='JPG' || $("#format option:selected").text() ==='JPG WEB' ){
                        $('#sin_fondo').prop("disabled", true);
                        $('#background').prop("value", 'blanco');
                        $('#colorselect').prop("value", '#ffffff');
                        $('#colorselect').prop("disabled", true);
                      }

                      if($("#format option:selected").text() ==='JPG WEB' || $("#format option:selected").text() ==='PNG' ){
                        localStorage.removeItem('clippingpath');
                        $('#mode_cmyk').prop("disabled", true);
                        $('#colormode').prop("value", 'rgb');
                       }
                  
                });

              function desactForm(formName){
                    $('#div_msgDemo').show();
                    //$('#' + formName).find('input, textarea, button, select').prop('disabled',true);
                    $('#specname').prop('disabled',true);
               } 


            });
        </script>
    </head>
    <body>
        <header class="bienvenida">
            <ul>
                <li>Hola <a id="user" class="bold"><%= user.userlongname %></a><a class="bold">!</a></li>
                <li>Órdenes en Proceso <a id="orders" class="bold"><%= countorders %></a></li>
               <!--  <li>Pedido número:<a id="" class="bold"></a></li> -->

                
                <li><a id="salir" class="bold" href="/logout">Salir</a></li>
            </ul>
        </header>
        <section id="menuver">
            <nav>
                <ul>
                    <li class="menulogo"><h1><a href="/principal"><img src="../images/logo_black.png" alt="logo"></a></h1></li>
                    <li><a href="/micuenta">Mi Cuenta</a></li>
                    <li><a href="/historial">Historial</a></li>
                    <li><a href="/especificaciones1">Especificaciones</a></li>
                    <li><a href="/subirimagen1">Subir Imagenes</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </section>
    <section id="contenedor">
        <p class="encabezado">Paso 2: Selecciona como deseas recibir tus fotos</p>
        <a class="ruta">Escoge una imagen</a>
        <a class="slash">/</a>
        <a class="ruta_on">Especificación</a>
        <a class="slash">/</a>
        <a class="ruta">Tamaño</a>
        <a class="slash">/</a>
        <a class="ruta">Alineación</a>
        <a class="slash">/</a>
        <a class="ruta">Margen</a>
        <a class="slash">/</a>
        <a class="ruta">Extras</a>
        <a class="slash">/</a>
        <a class="ruta">Subir imágenes</a>
        
        <div class="recontenedor">
            <form id = "specForm" class="col1" action="/newspec" method="post">
                <label for="nombre">Nombre</label><br>
                <input id="specname" type="text" name="name" placeholder="Nombra tu Especificación" value=""><br>
                <label for="formato">Formato</label><br>
                <select id="format" name="format">
                    <option value="jpg">JPG</option>
                    <option value="jpg_web">JPG WEB</option>
                    <option value="png">PNG</option>
                    <option value="psd">PSD</option>
                    <option value="tiff">TIFF</option>
                </select><br>
                <label for="modo">Modo Color</label><br>
                <select id="colormode" name="colormode">
                    <option value="rgb">RGB</option>
                    <option id="mode_cmyk" value="cmyk">CMYK</option>
                </select><br>
                <label for="fondo">Fondo</label><br>
                <select id="background" name="background">
                    <option value="blanco">BLANCO</option>
                    <option value="negro">NEGRO</option>
                    <option value="color">COLOR</option>
                    <option id="sin_fondo" value="sin_fondo" disabled>SIN FONDO</option>
                </select>
                <input id="colorselect" type="color" name="backgrndcolor" value="#FFFFFF" disabled>
                <br>
                <label for="dpi">DPI</label><br>
                <input id="depeis" type="text" name="DPI" value="0" maxlength="5" disabled><label for="dpi">dpi</label>
                <input id="chkalgnnone" class="checkcheck" type="checkbox" name="dpinone" value="none"  checked onclick="javascript:desactAllNext();"><span class="postcheck">Sin Cambios</span>
                <div>
                    <h1 id="res_message"></h1>
                </div> 
                <!-- <input type="hidden" name="numorder" value=""> -->
            </form>
        </div>
        <div class="picnum">Seleccione las Opciones Adecuadas</div>
        <div id= "div_msgDemo" style="display:none;" class="picnum2">La versión Demo no puede modificar el nombre de la especificación</div>
        <hr>
        <div class="buttonback">
            <a href="/chooseanimage">Regresar</a>
        </div>
        <div class="buttoncont">
            <a href="" id="buttonspec">Continuar</a>
        </div>
    </section>
        <aside id="menurigth">
            <p class="encabezado"> Tutorial</p>
             <div class="video_med"><a onclick="ponleplay()" href="#openVideoModal"><img src="../images/tumbnail_video.jpg" width="140px"></a></div>
            <hr>
            <p class="encabezado"> FAQs</p>
            <p><a class="texto_plano">1. ¿Están seguros mis datos?</a></p>
            <p><a class="texto_plano">2. ¿Tiempo de Entrega?</a></p>
            <p><a class="texto_plano">3. ¿Prueba Gratis?</a></p>
            <p><a class="texto_plano">4. ¿Cómo Pago?</a></p>
            <div class="button1">
            <a href="/faq">Ver más</a> 
            </div>
        </aside>
        <script>
            function desactAllNext(){
                var chkalgnnone = document.getElementById('chkalgnnone').checked;
                document.getElementById("depeis").disabled = chkalgnnone; 
            }
         
        </script>
    </body>
</html>
