<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>the background remover</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
        <script src="../js/google.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="../js/chooseamargin.js"></script>
    </head>
    <body>
        <header class="bienvenida">
            <ul>
                <li>Hola <a id="user" class="bold"><%= user.userlongname %></a><a class="bold">!</a></li>
                <li>Órdenes en Proceso <a id="orders" class="bold"><%= countorders %></a></li>
                <li><a id="salir" class="bold" href="/logout">Salir</a></li>
            </ul>
        </header>
        <section id="menuver">
            <nav>
                <ul>
                    <li class="menulogo"><h1><a href="/principal"><img src="../images/logo_black.png" alt="logo"></a></h1></li>
                    <li><a href="/micuenta">Mi Cuenta</a></li>
                    <li><a href="/historial">Historial</a></li>
                    <li><a href="/especificaciones1">Especificaciones</a></li>
                    <li><a href="/subirimagen1">Subir Imagenes</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </section>
    <section id="contenedor">
        <p class="encabezado">Paso 5: Cambia el margen a tus fotos</p>
        <a class="ruta">Escoge una imagen</a>
        <a class="slash">/</a>
        <a class="ruta">Especificación</a>
        <a class="slash">/</a>
        <a class="ruta">Tamaño</a>
        <a class="slash">/</a>
        <a class="ruta">Alineación</a>
        <a class="slash">/</a>
        <a class="ruta_on">Margen</a>
        <a class="slash">/</a>
        <a class="ruta">Extras</a>
        <a class="slash">/</a>
        <a class="ruta">Subir imágenes</a>
        
        <div class="recontenedor">
            <form id= "marginForm1" class="col1" action="newspec" method="post">
                <input id="chkmarginone" class="checkcheck" type="checkbox" name="marginnone"  value="none"  checked ><span class="postinput">Sin Cambios</span><br>
                <label>Margen en</label>
                <select id="marginmeasure" name="marginmeasure" disabled>
                    <option value="%">%</option>
                    <option value="px">px</option>
                    <option value="cm">cm</option>
                </select><br>
                <label>Arriba</label><br>
                <input class="margin" name="margintop" type="text" value="0" disabled><br>
                <label>Abajo</label><br>
                <input class="margin" name="marginbottom" type="text" value="0" disabled><br>
                <label>Derecha</label><br>
                <input class="margin" name="marginright" type="text" value="0" disabled><br>
                <label>Izquierda</label><br>
                <input class="margin" name="marginleft" type="text" value="0" disabled><br>
            </form>
            
            <div class="col2">
                <div id="marco" class="alignHorizontalC">
                    <div class="vertLine1"></div>
                    <div class="vertLine2"></div>
                    <div class="horLine1"></div>
                    <div class="horLine2"></div>
                    <div id="portatenis"></div>
                    <img id="imgportaimage" class="alignVerticalM" src="">
                </div>
            </div>
        </div>
        <div class="picnum">Seleccione el espacio que deseado entre el objeto y los bordes de la imagen</div>
        <hr>
        <div class="buttonback">
            <a href="/chooseanalignment">Regresar</a>
        </div>
        <div class="buttoncont">
            <a id="buttoncont" href="">Continuar</a>
        </div>
    </section>
        <aside id="menurigth">
            <p class="encabezado"> Tutorial</p>
             <div class="video_med"><a onclick="ponleplay()" href="#openVideoModal"><img src="../images/tumbnail_video.jpg" width="140px"></a></div>
            <hr>
            <p class="encabezado"> FAQs</p>
            <p><a class="texto_plano">1. ¿Están seguros mis datos?</a></p>
            <p><a class="texto_plano">2. ¿Tiempo de Entrega?</a></p>
            <p><a class="texto_plano">3. ¿Prueba Gratis?</a></p>
            <p><a class="texto_plano">4. ¿Cómo Pago?</a></p>
            <div class="button1">
            <a href="/faq">Ver más</a> 
            </div>
        </aside>
       
    </body>
</html>