<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>the background remover</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <script src="../js/google.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico">
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="../js/chooseasize.js"></script>

    </head>
    <body>
        <header class="bienvenida">
            <ul>
                <li>Hola <a id="user" class="bold"><%= user.userlongname %></a><a class="bold">!</a></li>
                <li>Órdenes en Proceso <a id="orders" class="bold"><%= countorders %></a></li>
                <li><a id="salir" class="bold" href="/logout">Salir</a></li>
            </ul>
        </header>
        <section id="menuver">
            <nav>
                <ul>
                    <li class="menulogo"><h1><a href="/principal"><img src="../images/logo_black.png" alt="logo"></a></h1></li>
                    <li><a href="/micuenta">Mi Cuenta</a></li>
                    <li><a href="/historial">Historial</a></li>
                    <li><a href="/especificaciones1">Especificaciones</a></li>
                    <li><a href="/subirimagen1">Subir Imagenes</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </section>
    <section id="contenedor">
        <p class="encabezado">Paso 3: Escoge el tamaño para tus fotos</p>
        <a class="ruta">Escoge una imagen</a>
        <a class="slash">/</a>
        <a class="ruta">Especificación</a>
        <a class="slash">/</a>
        <a class="ruta_on">Tamaño</a>
        <a class="slash">/</a>
        <a class="ruta">Alineación</a>
        <a class="slash">/</a>
        <a class="ruta">Margen</a>
        <a class="slash">/</a>
        <a class="ruta">Extras</a>
        <a class="slash">/</a>
        <a class="ruta">Subir imágenes</a>
        
        <div class="recontenedor">
            <form id = "sizeForm" class="" action="newspec" method="post">
                <div class="col3">
                <input name="size" type="radio" id="cuadro1" value="1:1">
                <label class="cuadro" for="cuadro1">1:1</label>
                <input name="size" type="radio" id="cuadro2" value="2:3">
                <label class="cuadro" for="cuadro2">2:3</label>
                <input name="size" type="radio" id="cuadro3" value="3:2">
                <label class="cuadro" for="cuadro3">3:2</label>
                </div>
                <div class="col3">
                <input name="size" type="radio" id="cuadro4" value="4:3">
                <label class="cuadro" for="cuadro4">4:3</label>
                <div class="cuadro" name="cuadrounder">
                    <select name="measuresize">
                        <option value="px">px</option>
                        <option value="cm">cm</option>
                    </select><br>
                    <label for="with">Ancho</label>
                    <input type="text" name="widthsize" placeholder="0"><br>
                    <label for="">Alto</label>
                    <input type="text" name="heightsize" placeholder="0">
                </div>
                <input name="size" type="radio" id="cuadro5" value="customize">
                <label class="cuadro" id="custombox" for="cuadro5">Personalizado</label>
                <input name="size" type="radio" id="cuadro6" value="none" checked>
                <label class="cuadro" for="cuadro6">Sin Cambios</label>
                </div>
            </form>
        </div>
        <div class="picnum">Seleccione el Tamaño Deseado</div>
        <hr>
        <div class="buttonback">
            <a href="/chooseaspecification">Regresar</a>
        </div>
        <div class="buttoncont">
            <a id= "buttoncont" href="">Continuar</a>
        </div>
    </section>
        <aside id="menurigth">
            <p class="encabezado"> Tutorial</p>
             <div class="video_med"><a onclick="ponleplay()" href="#openVideoModal"><img src="../images/tumbnail_video.jpg" width="140px"></a></div>
            <hr>
            <p class="encabezado"> FAQs</p>
            <p><a class="texto_plano">1. ¿Están seguros mis datos?</a></p>
            <p><a class="texto_plano">2. ¿Tiempo de Entrega?</a></p>
            <p><a class="texto_plano">3. ¿Prueba Gratis?</a></p>
            <p><a class="texto_plano">4. ¿Cómo Pago?</a></p>
            <div class="button1">
            <a href="/faq">Ver más</a> 
            </div>
        </aside>
       
    </body>
</html>
