<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>IMGNpro, hagamos que tu producto destaque</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <link rel="stylesheet" href="../stylesheets/dropzone.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script type="text/javascript" src="../js/dropzone.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script type="text/javascript">
            // Dropzone.autoDiscover = false;
            // var acceptedFileType = ".jpg, .jpeg, .png, .tif, .tiff, .psd";
            // var imageCount = 0;
            // var imageUploadInfos =[];
            $(document).ready(function(){
                localStorage.clear(); // limpia el localstorage
                $("#imageForm input[name=image]").change(function(){
                    // if ($("input[name=imagesize]:checked").val() === 'customize'){
                    //     $('select[name=measuresize]').prop('disabled', false);
                    //     $('input[name=widthsize]').prop('disabled', false);
                    //     $('input[name=heightsize]').prop('disabled'
//$('input:radio[name=alignver]').prop('disabled', chkalgnnone);
                //}
                    var imageselected = $('input:radio[name=image]:checked').val();
                    localStorage.setItem("imageselected", imageselected);
                });



            });
            //     $("div#myId").dropzone({
            //         url:"#",
            //         dictDefaultMessage: "Arrastra y suelta tus archivos aquí",
            //         dictRemoveFile: "Borrar imagen",

            //         // Dropzone.prototype.defaultOptions.dictDefaultMessage = "Drop files here to upload";
            //         // Dropzone.prototype.defaultOptions.dictFallbackMessage = "Your browser does not support drag'n'drop file uploads.";
            //         // Dropzone.prototype.defaultOptions.dictFallbackText = "Please use the fallback form below to upload your files like in the olden days.";
            //         // Dropzone.prototype.defaultOptions.dictFileTooBig = "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.";
            //         // Dropzone.prototype.defaultOptions.dictInvalidFileType = "You can't upload files of this type.";
            //         // Dropzone.prototype.defaultOptions.dictResponseError = "Server responded with {{statusCode}} code.";
            //         // Dropzone.prototype.defaultOptions.dictCancelUpload = "Cancel upload";
            //         // Dropzone.prototype.defaultOptions.dictCancelUploadConfirmation = "Are you sure you want to cancel this upload?";
            //         // Dropzone.prototype.defaultOptions.dictRemoveFile = "Remove file";
            //         // Dropzone.prototype.defaultOptions.dictMaxFilesExceeded = "You can not upload any more files.";

            //         method: "PUT",
            //         uploadMultiple: false,
            //         paramName: "file",
            //         maxFiles: 10,
            //         thumbnailWidth: 100,
            //         thumbnailHeight: 100,
            //         parallelUploads: 20,
            //         autoProcessQueue: true,
            //         addRemoveLinks: true,
            //         //previewTemplate: dropPreviewTemplate,
            //         //autoQueue: false, // Make sure the files aren't queued until manually added
            //         //previewsContainer: dropPreviewContainer, // Define the container to display the previews
            //         clickable: true, //".fileinput-button" // Define the element that should be used as click trigger to select files.
            //         acceptedFiles: acceptedFileType,
            //         accept: function(file, cb) {
            //         //override the file name, to use the s3 signature
            //         //console.log(file);
            //             var params = {
            //                 filename: file.name,
            //                 filetype: file.type,
            //             };
            //             //path to S3 signature
            //             $.getJSON('/sign-s3', params).done(function(data) {
            //                 //console.log(data);

            //                 if (!data.signedRequest) {
            //                     return cb('Failed to receive an upload url');
            //                 }

            //                 file.signedRequest = data.signedRequest;
            //                 file.finalURL = data.downloadURL;
            //                 imageCount++;
            //                 //document.forms[0].imagelist.value = imageUploadInfos;

            //                 $("div#imageCount").html(imageCount);

            //                 cb();
            //             }).fail(function() {
                            
            //                 imageCount++;
            //                 $("div#imageCount").html(imageCount);
            //                 //document.forms[0].imagelist.value = imageUploadInfos;

            //                 return cb('Failed to receive an upload url');

            //             });
            //         },
            //         sending: function(file, xhr) {

            //             console.log('sending')
            //             var _send = xhr.send;
            //             xhr.setRequestHeader('x-amz-acl', 'public-read');
            //             xhr.send = function() {
            //                 _send.call(xhr, file);
            //             }

            //         },
            //         processing:function(file){

            //             this.options.url = file.signedRequest;

            //         },
            //         complete:function(file){
            //             if (file.accepted && file.status == 'error' && file.retryTime > 5) {
            //                 file.accepted = false;
            //                 // removeStorageFile(file);
            //                 // app._checkDone(this);

            //                 // $(file.previewElement).find('.dz-remove').remove();
            //                 // $(file.previewElement).find('.dz-progress').fadeOut();

            //                 // app._showDefaultError(this, file, "Network Error!");
            //                 alert("Error subiendo archivo");
            //             } else {
            //                 // corregir esto para que solo agregue al array archivos completos
            //                 imageUploadInfos.push({
            //                     imagename: file.name,
            //                     width: file.width,
            //                     height: file.height,
            //                     length: file.size
            //                 });
            //             }
            //         },
            //         removedfile: function(file) {
            //             imageCount--;
            //             $("div#imageCount").html(imageCount);
            //             var _ref;
            //             return (_ref = file.previewElement) != null ? _ref.parentNode.removeChild(file.previewElement) : void 0;

            //         }

            //     });









            //     // var frm = $('#buttoncontorder');
            //     // frm.click(function (ev) {
            //     //     $.ajax({
            //     //         type: 'GET',
            //     //         url: 'neworder',
            //     //         data: '1',
            //     //         success: function (data) {
            //     //             if (data.error == 1 ){
            //     //                 document.getElementById('res_message').innerHTML= data.message;    

            //     //             }
            //     //             else{
            //     //                 setTimeout(window.location='subirimagen3',500);
            //     //             }
            //     //         }
            //     //     });

            //     //     ev.preventDefault();
            //     // });   

            //     var buttonspec = $('#buttoncontorder');
            //     var frm = $('#orderForm');
            //     buttonspec.click(function (ev) {
            //         $.ajax({
            //             type: frm.attr('method'),
            //             url: frm.attr('action'),
            //             //data: {imageUploadInfos:imageUploadInfos, numorder:0},   
            //             data: { 'imageUploadInfos': JSON.stringify(imageUploadInfos), 'imagecount': imageCount},
            //             //frm.serialize(),
            //             //contentType: "application/json",
            //             success: function (data) {
            //                 if (data.error == 1 ){
            //                     document.getElementById('res_message').innerHTML= data.message;    
            //                 }
            //                 else{
            //                     setTimeout(window.location='/subirimagen3/' + data.numorder,500);
            //                 }
            //             }
            //         });
            //         ev.preventDefault();
            //     });  


            



        </script>

    </head>
    <body>
        <header class="bienvenida">
            <ul>
                <li>Hola <a id="user" class="bold"><%= user.userlongname %></a><a class="bold">!</a></li>
                <li>Órdenes en Proceso <a id="orders" class="bold">0</a></li>
                <li><a id="salir" class="bold" href="logout">Salir</a></li>
            </ul>
        </header>
        <section id="menuver">
            <nav>
                <ul>
                    <li class="menulogo"><h1><a href="principal"><img src="../images/logo_black.png" alt="logo"></a></h1></li>
                    <li><a href="micuenta">Mi Cuenta</a></li>
                    <li><a href="historial">Historial</a></li>
                    <li><a href="especificaciones1">Especificaciones</a></li>
                    <li><a href="subirimagen1">Subir Imagenes</a></li>
                    <li><a href="contacto">Contacto</a></li>
                </ul>
            </nav>
        </section>
    <section id="contenedor">
        <p class="encabezado">Subir Imágenes</p>
        <a class="ruta_on">Escoge una imagen</a>
        <a class="slash">/</a>
        <a class="ruta">Especificación</a>
        <a class="slash">/</a>
        <a class="ruta">Tamaño</a>
        <a class="slash">/</a>
        <a class="ruta">Alineación</a>
        <a class="slash">/</a>
        <a class="ruta">Margen</a>
        <a class="slash">/</a>
        <a class="ruta">Extras</a>
        <a class="slash">/</a>
        <a class="ruta">Subir imágenes</a>
        <div class="recontenedor">
            <form id = "imageForm" class="" action="newspec" method="post">
                <div class="col3">
                <input name="image" type="radio" id="cuadro1" value="../images/tenis.png">
                <label class="cuadro" for="cuadro1"><img class="imagebox" src="../images/tenis.png"></label>
                <input name="image" type="radio" id="cuadro2" value="../images/tenis.png">
                <label class="cuadro" for="cuadro2"><img class="imagebox" src="../images/tenis.png"></label>
                <input name="image" type="radio" id="cuadro3" value="../images/tenis.png"">
                <label class="cuadro" for="cuadro3"><img class="imagebox" src="../images/tenis.png"></label>
                </div>
                <div class="col3">
                <input name="image" type="radio" id="cuadro4" value="../images/tenis.png">
                <label class="cuadro" for="cuadro4"><img class="imagebox" src="../images/tenis.png"></label>
                <input name="image" type="radio" id="cuadro7" value="../images/tenis.png">
                <label class="cuadro" for="cuadro7"><img class="imagebox" src="../images/tenis.png"></label>
                <input name="image" type="radio" id="cuadro6" value="../images/tenis.png">
                <label class="cuadro" for="cuadro6"><img class="imagebox" src="../images/tenis.png"></label>
                </div>
            </form>
        </div>
        <div class="picnum">Seleccione una Imagen de Ejemplo</div>
        <hr>
        <div class="buttoncont">
            <a href="chooseaspecification" id="buttoncontorder">Continuar</a>
        </div>

        <div>
            <h1 id="res_message"></h1>
        </div>  
        <form id = "orderForm" class="" action="/neworder" method="post">
            <input type="hidden" name="imagelist" placeholder="" value=""><br>
        </form>
    </section>
        <aside id="menurigth">
            <p class="encabezado"> Tutorial</p>
             <div class="video_med"><a onclick="ponleplay()" href="#openVideoModal"><img src="../images/tumbnail_video.jpg" width="140px"></a></div>
            <hr>
            <p class="encabezado"> FAQs</p>
            <p><a class="texto_plano">1. ¿Están seguros mis datos?</a></p>
            <p><a class="texto_plano">2. ¿Tiempo de Entrega?</a></p>
            <p><a class="texto_plano">3. ¿Prueba Gratis?</a></p>
            <p><a class="texto_plano">4. ¿Cómo Pago?</a></p>
            <div class="button1">
            <a href="faq">Ver más</a> 
            </div>
        </aside>
    </body>
</html>
