<!DOCTYPE html>
<html lang="es">
<head>
    <script src="../js/google.js"></script>
    <% include partials/head.html %>
</head>
<body>
    <div id="contenedor">
        <header>
            <section id="logo">
                <h1><a href="/"><img src="../images/logo_black.png" alt="logo"></a></h1>
            </section>
           <% include partials/menutop.html %>
        </header>
        <section id="texto_como1">
            <div class="columna">
                <ul>
                    <li>
                        <img src="../images/icon_toma.png">
                    </li>
                    <li class="encabezado"><p>Captura</p></li>
                    <li class="texto_plano"><p>Siempre tratando de lograr
                        una imagen nítida y con el ángulo que más favorezca
                        a tu producto.</p></li>
                    </ul>
                </div>
                <div class="columna">
                    <ul>
                        <li>
                            <img src="../images/icon_sube.png">
                        </li>
                        <li class="encabezado"><p>Sube</p></li>
                        <li class="texto_plano">
                            <p>Personaliza tus órdenes de trabajo.</p>
                            <p class="texto_enfasis">Al registrarte obtendrás tus
                            3 primeras imágenes totalmente gratis.</p>
                        </li>
                    </ul>
                </div>
                <div class="columna">
                    <ul>
                        <li>
                            <img src="../images/icon_recibe.png">
                        </li>
                        <li class="encabezado"><p>Recibe</p></li>
                        <li class="texto_plano"><p>Totalmente optimizadas y con
                            tus especificaciones, con la mejor calidad. Satisfacción
                            Garantizada.</p></li>
                        </ul>
                    </div>
                </section>

                <section id="botones_como1">
                    <div class="button1">
                        <a href="/como2">Ver más</a>
                    </div>
                    <div class="button2">
                        <a href="/registro">Empieza Ya!</a>
                    </div>
                </section>
            </div>
            <footer id="footer" class="certificate">
              <% include partials/footer.html %>
            </footer>
        </body>
        </html>