<!DOCTYPE html>
<html lang="es">
    <head>
        <% include partials/head.html %>
    </head>
    <body>
    <div id="contenedor">
        <header>
            <section id="logo">
            <h1><a href="intro.html"><img src="../images/logo_black.png" alt="logo"></a></h1>
            </section>
             <% include partials/menutop.html %>
        </header>
        <section id="login">
            <div class="login1">
                <p class="encabezado" id="cabeza">¿En qué podemos ayudarte?</p>
                <p class="texto_plano">Platícanos tus dudas, sugerencias o necesidades</p>
            </div>
        </section>
        <section id="login">
            <form class="accedeForm">
                <ul>
                    <li>
                        <label class="texto_plano">Nombre</label>
                        <input type="text" name="name" required placeholder="¿Quién Eres?">
                    </li>
                    <li>
                        <label class="texto_plano">Correo Electrónico</label>
                        <input type="email" name="username" required placeholder="tunombre@ejemplo.com">
                    </li>
                    <li>
                        <label class="texto_plano">Mensaje</label>
                        <textarea cols="40" rows="6" placeholder="Escribe tu mensaje, nuestro personal se pondrá en contacto a la brevedad."></textarea>
                    </li>
                </ul>
                <div class="button2">
                    <input type="submit" value="Aceptar">
                </div>
            </form>
        </section>
    </div>
        <footer class="certificate">
            <% include partials/footer.html %>
        </footer>
    </body>
</html>