<!DOCTYPE html>
<html lang="es">
    <head>
        <script src="../js/google.js"></script>
        <% include partials/head.html %>
    <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
    <script type="text/javascript"></script>
    <script src="../js/contacto.js"></script>
    </head>
    <body>
    <div id="contenedor">
        <header>
            <section id="logo">
            <h1><a href="/principal"><img src="../images/logo_black.png" alt="logo"></a></h1>
            </section>
             <% include partials/menutop.html %>
        </header>
        <section id="login">
            <div class="login1">
                <p class="encabezado" id="cabeza">¿En qué podemos ayudarte?</p>
                <p class="texto_plano2">Mándanos un email a <a href="mailto:hi@mail-imgnpro.com">hi@mail-imgnpro.com</a>,  llámanos al tel: <b>+52 667 7121230</b></p>
                <p class="texto_plano2">o platícanos tus dudas, sugerencias o necesidades por este medio.</p>
            </div>
        </section>
        <section id="login">
            <div>
                <h1 id="res_message"></h1>
            </div>  
            <form id = "contactForm" class="accedeForm" action="/newcontact" method = "post">
                <ul>
                    <li>
                        <label class="texto_plano">Nombre</label>
                        <input type="text" name="name" required placeholder="¿Quién Eres?">
                    </li>
                    <li>
                        <label class="texto_plano">Correo Electrónico</label>
                        <input type="email" name="email" required placeholder="tunombre@ejemplo.com">
                    </li>
                    <li>
                        <label class="texto_plano">Mensaje</label>
                        <textarea cols="40" rows="6" name="message" placeholder="Escribe tu mensaje, nuestro personal se pondrá en contacto a la brevedad."></textarea>
                    </li>
                </ul>
                <div class="button2">
                    <input type="submit" value="Aceptar">
                </div>
            </form>
        </section>
    </div>
        <footer class="certificate">
            <% include partials/footer.html %>
        </footer>
            
        <!-- Go to www.addthis.com/dashboard to customize your tools -->
        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5813ed1e3adeb4fd"></script>
    </body>
</html>