<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>the background remover</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_designers.css">
        <link rel="stylesheet" href="../stylesheets/dropzone.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script type="text/javascript" src="../js/dropzone.js"></script>
        <script src="/socket.io/socket.io.js"></script>
        <script type="text/javascript">
            var  socket = io(),
                 bIsWorking = false,
                 nSecondsLeft = 0,
                 dDateNow;

            $(document).ready(function(){
                for (var i = 1; i <= 6; i++){
                    $('#p'+ i).hide();
                }    
                getPackages(); // obtiene los paquetes que se pueden trabajar.
                getWorkingPackages();
                getTopRankdesigners(); // obtiene el ranking de los diseñadores
                setInterval(function(){ 
                    //console.log("prueba");
                    if (bIsWorking){
                        var dActual = new Date();
                        var nSecondsPast = Math.floor((dActual.getTime()/1000) - (dDateNow.getTime()/1000));
                        $('#a_timeleft').html(getTimeinHours( nSecondsLeft - nSecondsPast ) );
                    }
                    
                 }, 1000);

                $('form').submit(function(){
                        socket.emit('chat_msg', '{ "msg":"' + $('#m').val() + '","userid":"<%= user._id %>"}');
                        $('#m').val('');
                        return false;
                });

                socket.on('chat_msg', function(msg){
                    //$('#messages').append($('<li>').text(msg));
                    var jsMsg = JSON.parse(msg);
                    console.log(jsMsg);
                    $('#conversation').append('<p class=""> <b>' + jsMsg.username + ': '+  jsMsg.msg + '</p>');
                        var sHeight = $('#conversation')[0].scrollHeight;
                        //Scrolling the element to the sHeight
                        $('#box_conversation').scrollTop(sHeight);
                });

                 socket.on('err', function(msg){
                    //$('#messages').append($('<li>').text(msg));
                    var jsMsg = JSON.parse(msg);
                    console.log(jsMsg);
                    //if (jsMsg.userid == '<%= user._id %>'){
                        alert(jsMsg.msg);

                    //}
                });

                socket.on('act_package', function(msg){
                    //$('#messages').append($('<li>').text(msg));
                    var jsMsg = JSON.parse(msg);
                    bIsWorking = jsMsg.isworking;
                    if (bIsWorking){
                        $('#a_timeleft').show();
                        $('#li_done').show();
                        $('#li_package_actual').show();
                        $('#a_order').html(jsMsg.numorder);
                        $('#a_orderpack').html(jsMsg.name);
                        $('#a_package_actual').attr('href', '/de_package_get/' + jsMsg.orderpackid);
                        $('#a_done').attr('href', '/de_uploadimages/' + jsMsg.orderpackid);
                        nSecondsLeft = jsMsg.secondsLeft;
                        dDateNow = new Date();
                    }
                });

                socket.on('packs_list', function(msg){
                    //$('#messages').append($('<li>').text(msg));
                    var jsMsg = JSON.parse(msg);
                    console.log(jsMsg);
                    for (var i = 1; i <= jsMsg.packs.length; i++){
                        $('#pno' + i).html(jsMsg.packs[i-1].imagecount);
                        $('#p' + i).show(1000);

                        $('#orderpackid' + i).val(jsMsg.packs[i-1]._id);
                    }  
                    // $('#conversation').append('<p class=""> <b>' + jsMsg.username + ': '+  jsMsg.msg + '</p>');
                    //     var sHeight = $('#conversation')[0].scrollHeight;
                    //     //Scrolling the element to the sHeight
                    //     $('#box_conversation').scrollTop(sHeight);
                });
             
                socket.on('access_package', function(msg){
                    var jsMsg = JSON.parse(msg);
                    window.location='/de_package_get/' + jsMsg.orderpackid;
                });


                socket.on('package_confirm', function(msg){
                    //$('#messages').append($('<li>').text(msg));
                    var jsMsg = JSON.parse(msg);
                    console.log(jsMsg);
                    getPackages();
                });

                socket.on('toprankdesigner', function(msg){
                    //$('#messages').append($('<li>').text(msg));
                    var jsMsg = JSON.parse(msg);
                    //console.log(jsMsg.length, jsMsg.keys.length);
                    console.log(jsMsg.length);
                    console.log(msg);
                    console.log(jsMsg);
                    
                    var i = 1;
                    try{
                        $.each(jsMsg, function (index, value) {
                            if (i == 1){ 
                                $('#firstplacename').text(value.name); 
                                $('#firstplaceimages').text(value.imagecount);     
                            }else{
                                $('#toprankdesigner').append('<li class="texto_plano_aside"><span class="encabezado_aside2">' + i + '. </span> ' + value.name +  ' <span class="imagenum">'+ value.imagecount +' imágen(es)</span></li>');
                            }    
                            i++;        
                        });
                    }
                    catch (e){
                        console.log(e);
                    }
                    
                });

                $('#p1').click(function(){
                   // alert('{ "orderpackid":"' + $('#orderpackid1').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('reserve_pack', '{ "orderpackid":"' + $('#orderpackid1').val() + '","userid":"<%= user._id %>"}');
                    
                });
                $('#p2').click(function(){
                    //alert('{ "orderpackid":"' + $('#orderpackid2').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('reserve_pack', '{ "orderpackid":"' + $('#orderpackid2').val() + '","userid":"<%= user._id %>"}');
                    
                });
                $('#p3').click(function(){
                   // alert('{ "orderpackid":"' + $('#orderpackid3').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('reserve_pack', '{ "orderpackid":"' + $('#orderpackid3').val() + '","userid":"<%= user._id %>"}');
                    
                });
                $('#p4').click(function(){
                    //alert('{ "orderpackid":"' + $('#orderpackid4').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('reserve_pack', '{ "orderpackid":"' + $('#orderpackid4').val() + '","userid":"<%= user._id %>"}');
                    
                });
                $('#p5').click(function(){
                    //alert('{ "orderpackid":"' + $('#orderpackid5').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('reserve_pack', '{ "orderpackid":"' + $('#orderpackid5').val() + '","userid":"<%= user._id %>"}');
                    
                });
                $('#p6').click(function(){
                    //alert('{ "orderpackid":"' + $('#orderpackid6').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('reserve_pack', '{ "orderpackid":"' + $('#orderpackid6').val() + '","userid":"<%= user._id %>"}');
                    
                });
                
                $('#buttondownload1').click(function(){
                    //alert('{ "orderpackid":"' + $('#orderpackid1').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('confirm_pack', '{ "orderpackid":"' + $('#orderpackid1').val() + '","userid":"<%= user._id %>"}');
                    
                });
                 $('#buttondownload2').click(function(){
                    //alert('{ "orderpackid":"' + $('#orderpackid2').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('confirm_pack', '{ "orderpackid":"' + $('#orderpackid2').val() + '","userid":"<%= user._id %>"}');
                    
                });
                 $('#buttondownload3').click(function(){
                    //alert('{ "orderpackid":"' + $('#orderpackid3').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('confirm_pack', '{ "orderpackid":"' + $('#orderpackid3').val() + '","userid":"<%= user._id %>"}');
                    
                });
                 $('#buttondownload4').click(function(){
                    //alert('{ "orderpackid":"' + $('#orderpackid4').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('confirm_pack', '{ "orderpackid":"' + $('#orderpackid4').val() + '","userid":"<%= user._id %>"}');
                    
                });
                 $('#buttondownload5').click(function(){
                    //alert('{ "orderpackid":"' + $('#orderpackid5').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('confirm_pack', '{ "orderpackid":"' + $('#orderpackid5').val() + '","userid":"<%= user._id %>"}');
                    
                });
                 $('#buttondownload6').click(function(){
                    //alert('{ "orderpackid":"' + $('#orderpackid6').val() + '","userid":"<%= user._id %>"}');    
                    
                    socket.emit('confirm_pack', '{ "orderpackid":"' + $('#orderpackid6').val() + '","userid":"<%= user._id %>"}');
                    
                });

            //   function createModal(){

            //     '<div id="openConfirmModal" class="modalDialog"><div><a href="#close" title="Close" Class="close">X</a><h1 class="encabezado">Confirmación de Trabajo</h1><hr class="hrmodal"><form id="colorForm" action="" method="" name="color_form"><ul>';
            //     '<li>
            //                 <p class="texto_plano">1. Al bajar el paquete tendré 8 horas para concluir el trabajo asignado.</p>
            //                 <br>
            //                 <p class="texto_plano">2. Me comprometo a leer y realizar a cada imagen las especificaciones anexas en el paquete.</p>
            //                 <br>
            //                 <p class="texto_plano">3. Acepto las políticas de Imagen Pro y me apego a sus reglas.</p>
            //             </li>
            //             <li>
            //                 <input id="aceptJob" type="checkbox" required>
            //                 <label class="etiquetasxtras">Acepto</label>
            //             </li>
            //         </ul>
            //         <div>
            //             <hr class="hrmodal2">
            //             <h1 class="modalTip">¡Genera mayores ingresos al realizar más de un paquete al día!</h1>
            //             <hr class="hrmodal2">
            //             <h1 id="res_message"></h1>
            //         </div>   
            //         <div class="buttonModal">
            //             <a id="buttondownload" href="#close">Bajar Paquete</a>
            //         </div>                               
            //     </form>
            // </div>'
            //   }
                function getWorkingPackages(){
                    socket.emit('get_work_package', '');
                }

                function getPackages(){
                    socket.emit('get_packages', '');
                    
                }
                function getTopRankdesigners(){
                   socket.emit('get_toprankdesigner', '');
                }

                function getTimeinHours(nSeconds){
                    var nHours = 0, nMinutes = 0;
                    if (nSeconds > 0){
                        nHours = Math.floor( nSeconds / 3600);
                        nSeconds = nSeconds - ( nHours * 3600);
                    } 
                    if (nSeconds > 0){
                        nMinutes = Math.floor( nSeconds / 60);
                        nSeconds = nSeconds - ( nMinutes * 60);
                    }
                    if (nSeconds < 0){
                        nSeconds = 0;
                    }
                    return (nHours + ":" + nMinutes + ":" + nSeconds ); 
                }
            });
        </script>
        <style>
          /** { margin: 0; padding: 0; box-sizing: border-box; }*/
          /*body { font: 13px Helvetica, Arial; }*/
          form { background: #FFF; padding: 3px; position: fixed; bottom: 10px; width: 50%; }
          form input { border: 1px; border-color: #000; padding: 10px; width: 80%; margin-right: .5%;background: rgb(200, 224, 255); }
          form button { width: 9%; background: rgb(130, 224, 255); border: none; padding: 10px; text-align: left; }
          #messages { list-style-type: none; margin: 0; padding: 0; text-align: left; }
          #messages li { padding: 5px 10px; }
          #messages li:nth-child(odd) { background: #eee; }
        </style>
    </head>
    <body>
        <header class="bienvenida">
            <ul>
                <li>Hola <a id="user" class="bold"><%= user.userlongname %></a><a class="bold">!</a></li>
                <li>Pedido <a id="a_order" class="bold">0</a></li>
                <li>Paquete <a id="a_orderpack" class="bold">0</a></li>
                <li>Tiempo Restante <a style="display:none" id="a_timeleft" class="bold">00:00:00</a> </li>
                <li id= "li_package_actual" style="display:none" class="button3"><a id = "a_package_actual" href="">PAQUETE ACTUAL</a></li>
                <li id= "li_done" style="display:none" class="button3"><a id = "a_done" href="">¡YA TERMINÉ!</a></li>
            </ul>
        </header>
        <section id="menuver">
            <nav>
                <ul>
                    <li class="menulogo"><h1><a href="/de_designers"><img src="../images/logo_white.png" alt="logo"></a></h1></li>
                    <li><a href="../htmls/de_micuenta.html">Mi Cuenta</a></li>
                    <li><a href="../htmls/de_historial.html">Historial</a></li>
                    <li><a href="../htmls/de_contacto.html">Soporte</a></li>
                    <li><a href="/de_logout">Cerrar Sesión</a></li>
                </ul>
            </nav>
        </section>
    <section id="contenedor">
        <p class="encabezado">Paquetes de Imágenes</p>
        <hr>
        <div id="bilboard">
            <span>¡¡¡ENCUENTRA BLOQUES SORPRESA!!! MUCHA SUERTE</span>
        </div>
        <div class="recontenedor_bloques">
            <div class="elbloque">
                <a id = "p1" href="#openConfirmModal1" name="p1" class="miniBox">
                    <span id = "pno1" class="bigNumber">2</span>
                    <span class="miniText">Imágenes</span>
                </a>
                <a id = "p2" href="#openConfirmModal2" name="p2" class="miniBox">
                    <span id = "pno2" class="bigNumber">14</span>
                    <span class="miniText">Imágenes</span>
                </a>
                <a id = "p3" href="#openConfirmModal3" name="p3" class="miniBox">
                    <span id = "pno3" class="bigNumber">7</span>
                    <span class="miniText">Imágenes</span>
                </a>
                <a id = "p4" href="#openConfirmModal4" name="p4" class="miniBox">
                    <span id = "pno4" class="bigNumber">1</span>
                    <span class="miniText">Imágenes</span>
                </a>
                <a id = "p5" href="#openConfirmModal5" name="p5" class="miniBox">
                    <span id = "pno5" class="bigNumber">20</span>
                    <span class="miniText">Imágenes</span>
                </a>
                <a id = "p6" href="#openConfirmModal6" name="p6" class="miniBox">
                    <span id = "pno6" class="bigNumber">18</span>
                    <span class="miniText">Imágenes</span>
                </a>
            </div>
        </div>
        <div class="contenedor_chat">
            <form action=""  style="position:relative;width:100%;height:100%">
            <div id ="box_conversation" style="float:left;width:100%;height:80%;overflow:auto;padding:10px; text-align: left;  ">
                <div id="conversation"></div>
            </div>
              <input id="m" autocomplete="off" style = "border:2px;" /><button>Enviar</button>
            </form>
            <!-- <div class="users">
                <ul>
                    <li class="usernormal">MarioBros12</li>
                    <li class="usernormal">Princesita22 <span class="useryou"> (you)</span></li>
                    <li class="usernormal">HugMungus</li>
                    <li class="useradmin">AdminIMGNpro</li>
                    <li class="usernormal">Padawan56</li>
                </ul>
            </div>
            <div class="dialogcontent">
                <div class="dialog"><span class="usernormal userdialog">HugMungus</span><p class="dialogtext">Hola hola!! quien anda por aqui?</p>
                </div>
                <div class="dialog"><span class="usernormal userdialog">MarioBros12</span><p class="dialogtext">Quibo? aquí andamos!</p>
                </div>
                <div class="dialog"><span class="useradmin userdialog">AdminIMGNpro</span><p class="dialogtext">Hola HugMungus! Cómo te va?</p>
                </div>
            </div> -->

            <!-- <ul id="messages"></ul> -->
            
            <!-- <div class="message"><input type="text" placeholder="ingresa tu mensaje"><div class="buttonsend"><a href="">Send</a></div></div> -->
        </div>
        <div id="contenedor_Modal">
            
        </div>
        <div id="openConfirmModal1" class="modalDialog">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Confirmación de Trabajo</h1>
                <hr class="hrmodal">
                <form id="colorForm" action="" method="" name="color_form">
                    
                    <ul>
                        <li>
                            <p class="texto_plano">1. Al bajar el paquete tendré 8 horas para concluir el trabajo asignado.</p>
                            <br>
                            <p class="texto_plano">2. Me comprometo a leer y realizar a cada imagen las especificaciones anexas en el paquete.</p>
                            <br>
                            <p class="texto_plano">3. Acepto las políticas de Imagen Pro y me apego a sus reglas.</p>
                        </li>
                        <li>
                            <input id="aceptJob" type="checkbox" required>
                            <label class="etiquetasxtras">Acepto</label>
                        </li>
                    </ul>
                    <div>
                        <hr class="hrmodal2">
                        <h1 class="modalTip">¡Genera mayores ingresos al realizar más de un paquete al día!</h1>
                        <hr class="hrmodal2">
                        <h1 id="res_message"></h1>
                    </div>   
                    <div class="buttonModal">
                        <a id="buttondownload1" href="#close">Bajar Paquete</a>
                    </div> 
                    <input id="orderpackid1" type="hidden" name="">                              
                </form>
            </div>
        </div>

        <div id="openConfirmModal2" class="modalDialog">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Confirmación de Trabajo</h1>
                <hr class="hrmodal">
                <form id="colorForm" action="" method="" name="color_form">
                    
                    <ul>
                        <li>
                            <p class="texto_plano">1. Al bajar el paquete tendré 8 horas para concluir el trabajo asignado.</p>
                            <br>
                            <p class="texto_plano">2. Me comprometo a leer y realizar a cada imagen las especificaciones anexas en el paquete.</p>
                            <br>
                            <p class="texto_plano">3. Acepto las políticas de Imagen Pro y me apego a sus reglas.</p>
                        </li>
                        <li>
                            <input id="aceptJob" type="checkbox" required>
                            <label class="etiquetasxtras">Acepto</label>
                        </li>
                    </ul>
                    <div>
                        <hr class="hrmodal2">
                        <h1 class="modalTip">¡Genera mayores ingresos al realizar más de un paquete al día!</h1>
                        <hr class="hrmodal2">
                        <h1 id="res_message"></h1>
                    </div>   
                    <div class="buttonModal">
                        <a id="buttondownload2" href="#close">Bajar Paquete</a>
                    </div>  
                    <input id="orderpackid2" type="hidden" name="">                             
                </form>
            </div>
        </div>

        <div id="openConfirmModal3" class="modalDialog">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Confirmación de Trabajo</h1>
                <hr class="hrmodal">
                <form id="colorForm" action="" method="" name="color_form">
                    
                    <ul>
                        <li>
                            <p class="texto_plano">1. Al bajar el paquete tendré 8 horas para concluir el trabajo asignado.</p>
                            <br>
                            <p class="texto_plano">2. Me comprometo a leer y realizar a cada imagen las especificaciones anexas en el paquete.</p>
                            <br>
                            <p class="texto_plano">3. Acepto las políticas de Imagen Pro y me apego a sus reglas.</p>
                        </li>
                        <li>
                            <input id="aceptJob" type="checkbox" required>
                            <label class="etiquetasxtras">Acepto</label>
                        </li>
                    </ul>
                    <div>
                        <hr class="hrmodal2">
                        <h1 class="modalTip">¡Genera mayores ingresos al realizar más de un paquete al día!</h1>
                        <hr class="hrmodal2">
                        <h1 id="res_message"></h1>
                    </div>   
                    <div class="buttonModal">
                        <a id="buttondownload3" href="#close">Bajar Paquete</a>
                    </div>
                    <input id="orderpackid3" type="hidden" name="">                               
                </form>
            </div>
        </div>
        <div id="openConfirmModal4" class="modalDialog">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Confirmación de Trabajo</h1>
                <hr class="hrmodal">
                <form id="colorForm" action="" method="" name="color_form">
                    
                    <ul>
                        <li>
                            <p class="texto_plano">1. Al bajar el paquete tendré 8 horas para concluir el trabajo asignado.</p>
                            <br>
                            <p class="texto_plano">2. Me comprometo a leer y realizar a cada imagen las especificaciones anexas en el paquete.</p>
                            <br>
                            <p class="texto_plano">3. Acepto las políticas de Imagen Pro y me apego a sus reglas.</p>
                        </li>
                        <li>
                            <input id="aceptJob" type="checkbox" required>
                            <label class="etiquetasxtras">Acepto</label>
                        </li>
                    </ul>
                    <div>
                        <hr class="hrmodal2">
                        <h1 class="modalTip">¡Genera mayores ingresos al realizar más de un paquete al día!</h1>
                        <hr class="hrmodal2">
                        <h1 id="res_message"></h1>
                    </div>   
                    <div class="buttonModal">
                        <a id="buttondownload4" href="#close">Bajar Paquete</a>
                    </div> 
                    <input id="orderpackid4" type="hidden" name="">                              
                </form>
            </div>
        </div>
        <div id="openConfirmModal5" class="modalDialog">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Confirmación de Trabajo</h1>
                <hr class="hrmodal">
                <form id="colorForm" action="" method="" name="color_form">
                    
                    <ul>
                        <li>
                            <p class="texto_plano">1. Al bajar el paquete tendré 8 horas para concluir el trabajo asignado.</p>
                            <br>
                            <p class="texto_plano">2. Me comprometo a leer y realizar a cada imagen las especificaciones anexas en el paquete.</p>
                            <br>
                            <p class="texto_plano">3. Acepto las políticas de Imagen Pro y me apego a sus reglas.</p>
                        </li>
                        <li>
                            <input id="aceptJob" type="checkbox" required>
                            <label class="etiquetasxtras">Acepto</label>
                        </li>
                    </ul>
                    <div>
                        <hr class="hrmodal2">
                        <h1 class="modalTip">¡Genera mayores ingresos al realizar más de un paquete al día!</h1>
                        <hr class="hrmodal2">
                        <h1 id="res_message"></h1>
                    </div>   
                    <div class="buttonModal">
                        <a id="buttondownload5" href="#close">Bajar Paquete</a>
                    </div>  
                    <input id="orderpackid5" type="hidden" name="">                             
                </form>
            </div>
        </div>
        <div id="openConfirmModal6" class="modalDialog">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Confirmación de Trabajo</h1>
                <hr class="hrmodal">
                <form id="colorForm" action="" method="" name="color_form">
                    
                    <ul>
                        <li>
                            <p class="texto_plano">1. Al bajar el paquete tendré 8 horas para concluir el trabajo asignado.</p>
                            <br>
                            <p class="texto_plano">2. Me comprometo a leer y realizar a cada imagen las especificaciones anexas en el paquete.</p>
                            <br>
                            <p class="texto_plano">3. Acepto las políticas de Imagen Pro y me apego a sus reglas.</p>
                        </li>
                        <li>
                            <input id="aceptJob" type="checkbox" required>
                            <label class="etiquetasxtras">Acepto</label>
                        </li>
                    </ul>
                    <div>
                        <hr class="hrmodal2">
                        <h1 class="modalTip">¡Genera mayores ingresos al realizar más de un paquete al día!</h1>
                        <hr class="hrmodal2">
                        <h1 id="res_message"></h1>
                    </div>   
                    <div class="buttonModal">
                        <a id="buttondownload6" href="#close">Bajar Paquete</a>
                    </div>  
                    <input id="orderpackid6" type="hidden" name="">                             
                </form>
            </div>
        </div>
        
    </section>
        <aside id="menurigth">
            <p class="encabezado2">SCORE</p>
            <div id="firstplace">
                <span class="encabezado_aside">1er Lugar</span>
                <br>
                <span class="texto_plano_aside" id="firstplacename"></span>
                <br>
                <span class="imagenum" id="firstplaceimages"></span> <span>  imágen(es)</span>
            </div>
            <hr class="hraside">
            <ul class="score" id="toprankdesigner">
               
            </ul>
        </aside>
    </body>
</html>
