<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>the background remover</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="../js/general.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script src="../js/de_especificaciones2.js"></script>
    </head>
    <body>
        <header class="bienvenida">
            
        </header>
    <section id="contenedor">
        
        <div class="especificaciones_form">
       
            <p class="encabezado">Especificaciones</p>
            <form id = "specForm" class="col1" action="/newspec" method="post">
                <label for="nombre">Nombre</label><br>
                <input id="specnombre" type="text" name="name" value="" placeholder="Nombra tu Especificación" required><br>
                <label for="formato">Formato</label><br>
                <select id="format" name="format">
                    <option value="jpg">JPG</option>
                    <option value="jpg_web">JPG WEB</option>
                    <option value="png">PNG</option>
                    <option value="psd">PSD</option>
                    <option value="tiff">TIFF</option>
                </select><br>
                <label for="modo">Modo Color</label><br>
                <select id="colormode" name="colormode">
                    <option value="rgb">RGB</option>
                    <option id="mode_cmyk" value="cmyk">CMYK</option>
                </select><br>
                <label for="fondo">Fondo</label><br>
                <select id="background" name="background">
                    <option value="blanco">BLANCO</option>
                    <option value="negro">NEGRO</option>
                    <option value="color">COLOR</option>
                    <option id="sin_fondo" value="sin_fondo">SIN FONDO</option>
                </select>
                <input id="colorselect" type="color" name="backgrndcolor" value="#ffffff" disabled>
                <br>
                <label>Tamaño</label><br>
                <input id="chksizenone" class="checks" type="checkbox" name="sizenone" value="none"  checked><span class="postinput">Sin Cambios</span>

                
                <input id="radio11" class="radio" name="imagesize" type="radio" value="1:1">
                <span class="postinput">1:1</span>
                <input id="radio23" name="imagesize" type="radio" value="2:3">
                <span class="postinput">2:3</span>
                <input id="radio32" name="imagesize" type="radio" value="3:2">
                <span class="postinput">3:2</span>
                <input id="radio43" name="imagesize" type="radio" value="4:3">
                <span class="postinput">4:3</span>
                <input id="optcustomsize" name="imagesize" type="radio" value="customize">
                <span class="postinput">Personalizado</span>
                <select name="measuresize" disabled>
                <option value="px">px</option>
                <option value="cm">cm</option>
                </select>
                <label for="with">Ancho</label>
                <input type="text" name= "widthsize" value="200" size="4" placeholder="00 " disabled>
                <label for="">Alto</label>
                <input type="text" name= "heightsize" value="200" size="4" placeholder="00 " disabled>
                <br>
                <label>Alineación</label><br>
                <input id="chkalgnnone" class="checks" type="checkbox" name="alignnone" value="none"  checked><span class="postinput">Sin Cambios</span><br>        
                <label>Horizontal</label><br>
                <input id = "alignHorizontalL" class="radio" type="radio" name="alignhor" value="alignHorizontalL"><span class="postinput">Izquierda</span>
                <input id = "alignHorizontalC" class="radio" type="radio" name="alignhor" value="alignHorizontalC" checked><span class="postinput">Centrado</span>
                <input id = "alignHorizontalR" class="radio" type="radio" name="alignhor" value="alignHorizontalR"><span class="postinput">Derecha</span><br>
                <br>
                <label>Vertical</label><br>
                <input id = "alignVerticalT" class="radio" type="radio" name="alignver" value="alignVerticalT"><span class="postinput">Arriba</span>
                <input id = "alignVerticalM" class="radio" type="radio" name="alignver" value="alignVerticalM" checked><span class="postinput">Centrado</span>
                <input id = "alignVerticalB" class="radio" type="radio" name="alignver" value="alignVerticalB"><span class="postinput">Abajo</span>
                <br>
                <label>Márgenes</label><br>
                <input id="chkmarginone" class="checkcheck" type="checkbox" name="marginnone" value="none" checked><span class="postinput">Sin Cambios</span>
                <select id= "marginmeasure" name="marginmeasure" disabled>
                    <option value="%">%</option>
                    <option value="px">px</option>
                    <option value="cm">cm</option>
                </select>
                <span class="postinput">Arriba</span><input class="margin" type="text" value="0" name="margintop" disabled>
                <span class="postinput">Abajo</span><input class="margin" type="text" value="0" name="marginbottom" disabled>
                <span class="postinput">Derecha</span><input class="margin" type="text" value="0" name="marginright" disabled>
                <span class="postinput">Izquierda</span><input class="margin" type="text" value="0" name="marginleft" disabled>
                <br>
                <label>Extras</label><br>
                <input  class="checks" type="checkbox" name="naturalshadow" value=<%= config.prices.naturalshadow %>><span class="postinput">Sombra Natural</span>
                <input class="checks" type="checkbox" name="dropshadow" value=<%= config.prices.dropshadow %>><span class="postinput">Drop Shadow</span>
                <input class="checks" type="checkbox" name="correctcolor" value=<%= config.prices.correctcolor %>><span class="postinput">Corrección de Color</span>
                <input  class="checks" type="checkbox" name="clippingpath" value=<%= config.prices.clippingpath %>><span class="postinput">Clipping Path</span>
                <input  class="checks" type="checkbox" name="basicretouch" value=<%= config.prices.basicretouch %>><span class="postinput"> Retoque Básico</span>
                <br>
                <label for="dpi">DPI</label><br>
                <input id="depeis" type="text" name="DPI" value="72" maxlength="5" disabled><label for="dpi">dpi</label>
                <input id="chkDPInone" class="checkcheck" type="checkbox" name="dpinone" value="none"  checked onclick="javascript:desactDPI();"><span class="postinput">Sin Cambios</span>
                <input id="specid" type="hidden" name="specid" value=<%= specid %>>
                <input id="datespec" type="hidden" name="date" value="">

            </form>
            <section id="area_botones">
                
                <!-- <div class="buttonblue">
                <a id="newbuttonspec" href=""><img src="../images/icon_plus.png" height="15px" width="15px">Nuevo</a>
                </div> -->
            </section>
        </div>
        <hr>
    </section>
    </body>
</html>
