<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>the background remover</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script src="../js/de_package_get.js"></script>
    </head>
    <body>
        <header class="bienvenida">
            <ul>
           </ul>
        </header>
    <section id="contenedor">
        <div id= "orderstable" class="tabla">
            <p class="encabezado">Paquete de Pedido </p>(<span><a id="specLink" href>Especificación</a></span>)
            <table>
                <tr>
                    <th>Orden</th>
                    <th>Paquete</th>
                    <th>Imagen</th>
                </tr>
            </table>
        </div>
        <hr>
    </section>
        <aside id="menurigth">
            <p class="encabezado"> Tutorial</p>
             <div class="video_med"><a onclick="ponleplay()" href="#openVideoModal"><img src="../images/tumbnail_video.jpg" width="140px"></a></div>
            <hr>
            <p class="encabezado"> FAQs</p>
            <p><a class="texto_plano">1. ¿Están seguros mis datos?</a></p>
            <p><a class="texto_plano">2. ¿Tiempo de Entrega?</a></p>
            <p><a class="texto_plano">3. ¿Prueba Gratis?</a></p>
            <p><a class="texto_plano">4. ¿Cómo Pago?</a></p>
            <div class="button1">
            <a href="/faq">Ver más</a> 
            </div>
        </aside>
        <input id="packageid" type="hidden" name="packageid" value=<%= packageid %>>
    </body>
</html>
