<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>the background remover</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script type="text/javascript">
            $(document).ready(function(){

                    $.ajax({
                        type: 'get',
                        url: '/listorderpack/<%= packageid %>',
                        success: function (data) {
                             console.log(data[0]);
                            // console.log(data.images);
                            $.getJSON('/findaorder/' + data[0].numorder).done(function(order) {
                                        if (order) {
                                        console.log(order);
                                            $("#specLink").attr("href","/de_especificaciones2/" + order.specid );
                                        }
                            });
                            $.each(data, function(index, value) {
                                // console.log(value);
                                $.each(value.images, function(index, valueimg) {
                                    // console.log(valueimg);

                                    var params = {
                                        filename: valueimg.imagename,
                                        userid: value.userid,
                                        orderpackid: value._id
                                    };
                                    $.getJSON('/sign-s3review', params).done(function(data) {
                                                                //console.log(data);
                                        var url ='';
                                        var urlthumb ='';
                                        var revimagename = '';
                                        if (data.signedRequest) {
                                            url = data.signedRequest;
                                            urlthumb = data.signedthumbRequest;
                                            revimagename = data.signedFileName;
                                        }
                                        var row = $("<tr>");
                                        row.append($("<td>" + value.numorder + "</td>"))
                                             .append($("<td>" + value.name + "</td>"))
                                             .append($("<td><a href='" + url + "' download>" + revimagename + "</a></td>"))
                                             .append($("<td><img src='" + urlthumb + "'></td>"));       

                                             
                                        $("#orderstable tbody").append(row);

                                    });
                                    

                                });
                            }); 


                            //console.log(data.images[0].imagename);
                            //console.log(data.images[0].length);
                            // for (var i = 0; i < data.length; i++){
                            
                            //}
                              

                        }
                    });

            });

        </script>
    </head>
    <body>
        <header class="bienvenida">
            <ul>
           </ul>
        </header>
    <section id="contenedor">
        <div id= "orderstable" class="tabla">
            <p class="encabezado">Revisión de Paquete de Pedido </p>(<span><a id="specLink" href>Especificación</a></span>)

            <table>
                <tr>
                    <th>Orden</th>
                    <th>Paquete</th>
                    <th>Imagen</th>

                </tr>
                
            </table>
        </div>
        <hr>
        <!-- <div id="specstable" class="tabla">
            <p class="encabezado">Especificaciones</p>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th></th>
                </tr>
                
            </table>
        </div> -->
        <!-- <hr>
        <div class="button2">
            <a href="subirimagen1">Subir Imágenes</a>
        </div> -->
    </section>
        <aside id="menurigth">
            <p class="encabezado"> Tutorial</p>
             <div class="video_med"><a onclick="ponleplay()" href="#openVideoModal"><img src="../images/tumbnail_video.jpg" width="140px"></a></div>
            <hr>
            <p class="encabezado"> FAQs</p>
            <p><a class="texto_plano">1. ¿Están seguros mis datos?</a></p>
            <p><a class="texto_plano">2. ¿Tiempo de Entrega?</a></p>
            <p><a class="texto_plano">3. ¿Prueba Gratis?</a></p>
            <p><a class="texto_plano">4. ¿Cómo Pago?</a></p>
            <div class="button1">
            <a href="/faq">Ver más</a> 
            </div>
        </aside>
    </body>
</html>
