<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>the background remover</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <link rel="stylesheet" href="../stylesheets/dropzone.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script type="text/javascript" src="../js/dropzone.js"></script>
        <script src="../js/general.js"></script>
        <script src="../js/de_uploadimages.js"></script>

    </head>
    <body>
        <header class="bienvenida">
        </header>
    <section id="contenedor">
        <p class="encabezado">Subir Imágenes</p>
     
        
        <div class="recontenedordrop">
        
            <div class="dropArea">
                <div id="myId" class="dropzone"> </div>
            </div>
            <hr>
            <div class="col3">
                <div class="col5">
                    <div class="droptable1">Nombre de Especificación</div>
                    <div class="droptable2"><%= namespec %></div>
                </div>
                <div class="col5">
                    <div class="droptable1">Pedido No.</div>
                    <div  class="droptable2"><%= numorder %></div>
                </div>
                <div class="col5">
                    <div class="droptable1">Paquete No.</div>
                    <div  class="droptable2"><%= packname %></div>
                </div>
                <div class="col5">
                    <div class="droptable1">Imágenes subidas</div>
                    <div id="imageCount" class="droptable2">0</div>
                </div>
                <div class="col5">
                    <div class="droptable1">Imágenes del paquete</div>
                    <div id="packImgCount" class="droptable2"><%= imagecount %></div>
                </div>
                <div class="col5">
        
                </div>
               
            </div>
        </div>
        <hr>
        <div class="button2">
            <a id="bconfirmpack">Confirmar Paquete</a>
        </div>
        
    </section>

<input id="S3_BUCKET_NAME_DONE" type="hidden" value=<%= S3_BUCKET_NAME_DONE %>>
<input id="imagecount" type="hidden" value=<%= imagecount %>>
<input id="userid" type="hidden" value=<%= userid %>>
<input id="orderpackid" type="hidden" value=<%= orderpackid %>>
<input id="designerid" type="hidden" value=<%= designerid %>>

    </body>
</html>
