<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>IMGNpro, hagamos que tu producto destaque</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.min.js"></script>
        <script src="../js/general.js"></script>
        <script type="text/javascript">
            


            $(document).ready(function(){



  //               $("#divload").dialog({
  //         modal: true,
  //         height: 50,
  //         width: 200,
  //         zIndex: 999,
  //         resizable: false,
  //         title: "Please wait..."
  // });
  
                $(document).ajaxStart(function(){
                    //$('#divload').show();
                    window.location="#divload";
                });
                $( document ).ajaxStop(function() {
                    $('#divload').hide();
                });
                    $.ajax({
                        type: 'get',
                        url: '/listspecs',
                        success: function (data) {
                            for (var i = 0; i < data.length; i++){
                                var row = $("<tr>");
                                row.append($("<td>" + data[i].name + "</td>"))
                                     .append($("<td>" + toDateString(data[i].date) + "</td>"))
                                     .append($("<td>" + data[i].totalprice + "</td>"))
                                     .append( $('<td><a id="icontable" href="/uploadimages/'+ data[i]._id + '"><img src="../images/icon_cloud.png" height="20px" width="20px"></a><a id="icontable"  href="/especificaciones2/'+ data[i]._id + '"><img src="../images/icon_edit.png" height="20px" width="20px"></a></td>'));
                                $("#specstable tbody").append(row);
                            }
                              

                        }
                    });

            });

        </script>
    </head>
    <body>
    <div id="divload" class="modalDialog">
            <img src="../images/icon_plus.png">
            Cargando....
        </div>
        <header class="bienvenida">
            <ul>
                <li>Hola <a id="user" class="bold"><%= user.userlongname %></a><a class="bold">!</a></li>
                <li>Órdenes en Proceso <a id="orders" class="bold"><%= countorders %></a></li>
                <li><a id="salir" class="bold" href="logout">Salir</a></li>
            </ul>
        </header>
        <section id="menuver">
            <nav>
                <ul>
                    <li class="menulogo"><h1><a href="principal"><img src="../images/logo_black.png" alt="logo"></a></h1></li>
                    <li><a href="micuenta">Mi Cuenta</a></li>
                    <li><a href="historial">Historial</a></li>
                    <li><a href="especificaciones1">Especificaciones</a></li>
                    <li><a href="subirimagen1">Subir Imagenes</a></li>
                    <li><a href="contacto">Contacto</a></li>
                </ul>
            </nav>
        </section>
    <section id="contenedor">
        <!-- <div class="tabla">
            <p class="encabezado">Especificaciones</p>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Costo</th>
                    <th>Acciones</th>
                </tr>
                <tr>
                    <td>Página Herramientas</td>
                    <td>12/05/2016</td>
                    <td>$1.50</td>
                    <td><a id="icontable" href="uploadimages"><img src="../images/icon_cloud.png" height="20px" width="20px"></a><a id="icontable"  href="especificaciones2"><img src="../images/icon_edit.png" height="20px" width="20px"></a></td>
                </tr>
                <tr>
                    <td>Página Herramientas</td>
                    <td>12/05/2016</td>
                    <td>$1.50</td>
                    <td><a id="icontable" href="uploadimages"><img src="../images/icon_cloud.png" height="20px" width="20px"></a><a id="icontable"  href="especificaciones2"><img src="../images/icon_edit.png" height="20px" width="20px"></a></td>
                </tr>
                <tr>
                    <td>Página Herramientas</td>
                    <td>12/05/2016</td>
                    <td>$1.50</td>
                    <td><a id="icontable"  href="uploadimages"><img src="../images/icon_cloud.png" height="20px" width="20px"></a><a id="icontable"  href="especificaciones2"><img src="../images/icon_edit.png" height="20px" width="20px"></a></td>
                </tr>
            </table> -->


            <div id="specstable" class="tabla">
                <p class="encabezado">Especificaciones</p>
                <table>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Costo</th>
                        <th></th>
                    </tr>
                    
                </table>
            

            <section id="area_botones">
                <div class="buttonblue">
                <a href="especificaciones2"><img src="../images/icon_plus.png" height="15px" width="15px">Nuevo</a>
                </div>
            </section>
        </div>
        <hr>
        <div class="button2">
            <a href="/subirimagen1">Subir Imágenes</a>
        </div>

    </section>
        <aside id="menurigth">
            <p class="encabezado"> Tutorial</p>
             <div class="video_med"><a onclick="ponleplay()" href="#openVideoModal"><img src="../images/tumbnail_video.jpg" width="140px"></a></div>
            <hr>
            <p class="encabezado"> FAQs</p>
            <p><a class="texto_plano">1. ¿Están seguros mis datos?</a></p>
            <p><a class="texto_plano">2. ¿Tiempo de Entrega?</a></p>
            <p><a class="texto_plano">3. ¿Prueba Gratis?</a></p>
            <p><a class="texto_plano">4. ¿Cómo Pago?</a></p>
            <div class="button1">
            <a href="faq">Ver más</a> 
            </div>
        </aside>
    </body>
</html>
