<!DOCTYPE html>
<html lang="es">
    <head>
        <script src="../js/google.js"></script>
       <% include partials/head.html %>
    </head>
    <body>
    <div id="contenedor">
        <header>
            <section id="logo">
                <h1><a href="/"><img src="../images/logo_black.png" alt="logo"></a></h1>
            </section>
            <% include partials/menutop.html %>
        </header>
        <section id="faqs">
            <div class="parrafo1">
                <p class="encabezado" id="cabeza">1. ¿Qué tan seguros están mis datos?</p>
                <p class="texto_plano">Ninguna persona o empresa ajena a Imagen Pro tendrá acceso a tus datos.
                <br>Consulta nuestras<a class="texto_plano" href="../pdfs/privacy.pdf" target="_blank">políticas de privacidad.</a>
                </p>
                <p class="texto_plano"></p>
                <p class="encabezado">2.¿Tiempo de entrega?</p>
                <p class="texto_plano">Nuestra promesa es entregar tus imágenes de 24 a 72 horas <b>¡ó menos!</b> despues de hecha la solicitud y validado el pago.</p>
                <p class="encabezado">3.¿Prueba gratis?</p>
                <p class="texto_plano">Al registrarte en nuestra página, <b>tus primeras 3 imágenes</b> a optimizar no tendrán costo alguno. Aplican restricciones. Contáctanos si tienes dudas al respecto.</p>
                <p class="encabezado">4.¿Cómo pago?</p>
                <p class="texto_plano">Una vez hecha la solicitud y enviado tus imágenes a optimizar, el siguiente paso será pagar el total de tu orden, mediante <b>tarjetas de crédito o débito Visa o Mastercard</b> para continuar con el proceso de optimización.</p>
            </div>
        </section>
        
        <section id="botones_como1">
            <div class="button1">
            <a href="contacto">Contáctanos</a>
            </div>
            <div class="button2">
            <a href="registro">Empieza Ya!</a>
            </div>
        </section>
    </div>
        <footer class="certificate">
             <% include partials/footer.html %>
        </footer>
    </body>
</html>