extends layout

block content
	if user
		p Hola, #{user.displayName}. Ve tu 
			a(href="/profile") Perfil
			br
			a(href="/logout") Cerrar sesion
			
	else
		p Bienvenido a IMGN PRO! Por favor 
			a(href="/login") inicie sesion
		br
		a(href="/login/facebook") Inicie sesion con Facebook
		br
		a(href="/login/twitter") Inicie sesion con Twitter
