<!DOCTYPE html>
<html lang="es">
    <head>
        <script src="../js/google.js"></script>
       <% include partials/head.html %>
    </head>
    <body>
    <div id="contenedor">
        <header>
            <section id="logo">
            <h1><a href="/"><img src="../images/logo_black.png" alt="logo"></a></h1>
            </section>
             <% include partials/menutop.html %>
        </header>

        <section id="login">
            <div class="login1">
                <p class="encabezado" id="cabeza">¡Qué gusto verte de nuevo!</p>
                <p class="texto_plano">ingresa tus datos para realizar una nueva orden</p>
            </div>
        </section>
        <section id="botones_redesReg">
            <div class="button3">
                <img class="redes_icon" src="../images/icon_f.png"><a href="/login/facebook">Facebook</a>
            </div>
            <div class="button4">
                <img class="redes_icon" src="../images/icon_g.png"><a href="/login/google">Google</a>
            </div>
            <!-- <div class="button5">
                <img class="redes_icon" src="../images/icon_l.png"><a>Linkedin</a>
            </div> -->
            <p class="encabezado" id="cabeza"><%= message %></p>
        </section>
        <div class="login1"> 
            <h1></h1>     
        </div>
        <section id="login">
            <form class="accedeForm" action='/signin' method='POST'>
                <ul>
                    <li>
                        <label class="texto_plano">Correo Electrónico</label>
                        <input type="email" name="email" required>
                    </li>
                    <li>
                        <label class="texto_plano">Contraseña</label>
                        <input type="password" name="password" required>
                    </li>
                    <li>
                        <a id="paraabrirmodal2" href="#openPassModal">Olvidé mi Contraseña</a>
                    </li>
                </ul>

                <div class="button2">
                    <input type="submit" value="Aceptar">
                </div>
                <section id="registro">
                    <div class="registro1">
                    <p class="texto_plano">Si no tienes cuenta, regístrate <a id="paraabrirmodal2" href="/registro">AQUÍ</a></p>
                    </div>
                </section>
                

            </form>
        </section>
    </div>
        <footer class="certificate">
             <% include partials/footer.html %>
        </footer>
        <div id="openPassModal" class="modalDialogPass">
            <div>
                <a href="#close" title="Close" Class="close">X</a>
                <h1 class="encabezado">Recupera tu Contraseña</h1>
                <form id="contactForm1" class="registro_form" action="/signup" method="post" name="registro_form">
                    <ul>
                        <li>
                            <label id="etiquetas">Nombre de Usuario</label>
                            <input type="text" name="userlongname" placeholder="Lupito Pérez" maxlength="20" required>
                        </li>
                        <li>
                            <label id="etiquetas">eMail</label>
                            <input type="email" name="email" placeholder="lupito@industriaspatito.com" maxlength="50" required>
                        </li>
                    </ul>
                    <div>
                        <h1 id="res_message"></h1>
                    </div>   
                    <div class="button2">
                        <input type="submit" value="Aceptar">
                    </div>             
                </form>
            </div>
        </div>
            
    </body>
</html>