<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>IMGNpro, hagamos que tu producto destaque</title>
        <link rel="stylesheet" href="../stylesheets/imgncss.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
    </head>
    <body>
    <div id="contenedor">
        <header>
            <section id="logo">
            <h1><a href="intro.html"><img src="../images/logo_black.png" alt="logo"></a></h1>
            </section>
            <section id="menuhor">
                <nav id="menu1">
                <ul>
                    <li><a href="como.html">Cómo Funciona</a></li>
                    <li><a href="precios.html">Precios</a></li>
                    <li><a href="faq.html">FAQ</a></li>
                    <li><a id="navregistro" href="registro.html">Regístrate</a></li>
                    <li><a href="login">Accede</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
                </nav>
            </section>
        </header>
        <section id="login">
            <div class="login1">
                <p class="encabezado" id="cabeza">¡Qué gusto verte de nuevo!</p>
                <p class="texto_plano">ingresa tus datos para realizar una nueva orden</p>
            </div>
        </section>
        <section id="login">
            <form class="accedeForm" action='/signin' method='POST'>
                <ul>
                    <li>
                        <label class="texto_plano">Correo Electrónico</label>
                        <input type="email" name="email" required>
                    </li>
                    <li>
                        <label class="texto_plano">Contraseña</label>
                        <input type="password" name="password" required>
                    </li>
                </ul>
                <div class="button2">
                    <input type="submit" value="Aceptar">
                </div>
            </form>
        </section>
    </div>
        <footer class="certificate">
        <div id="footerwraper">
        <ul id="letras">
            <li>
                <a class="footex">Términos y Condiciones</a>
            </li>
            <li>
                <a class="footex">Políticas de Privacidad</a>
            </li>
            <li>
                <a class="footex">Cookies</a>
            </li>
        </ul>
        <ul class="iconos">
            <li>
                <a class="faceicon" href="https://www.facebook.com/TheBackgroundRemover/" rel="nofollow" target="_blank"><span>fac</span></a>
            </li>
            <li>
                <a class="twiticon" href="https://www.twitter.com/imgn_pro/" rel="nofollow" target="_blank"><span>twi</span></a>
            </li>
            <li>
                <a class="insticon" href="https://www.instagram.com/imgnpro/" rel="nofollow" target="_blank"><span>ins</span></a>
            </li>
        </ul>
            <span id="siteseal">
                <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=MM8zFLA1javq1eFaGcvXAxCizAwhbOeBEtWtmH2HxtB9DsFEbuTbkOPcnTG5">
                </script>
            </span>
            <span id="siteseal">
                <a href="http://www.beyondsecurity.com/vulnerability-scanner-verification/imgnpro.com"><img src="https://seal.beyondsecurity.com/verification-images/imgnpro.com/vulnerability-scanner-2.gif" alt="Website Security Test" border="0" /></a>
            </span>
        </div>
    </footer>
    </body>
</html>