<!DOCTYPE html>
<html lang="es">
    <head>
       <% include partials/head.html %>
    </head>
    <body>
    <div id="contenedor">
        <header>
            <section id="logo">
                <h1><a href="/"><img src="../images/logo_black.png" alt="logo"></a></h1>
            </section>
            <% include partials/menutop.html %>
        </header>
        <section id="faqs">
            <div class="parrafo1">
                <p class="encabezado" id="cabeza">Pedido generado</p>
                <p><%= numorder %><p>
            
            </div>
        </section>
        
        <section id="botones_como1">
            <div class="button1">
            <a href="contacto">Contáctanos</a>
            </div>
            <div class="button2">
            <a href="registro">Empieza Ya!</a>
            </div>
        </section>
    </div>
        <footer class="certificate">
             <% include partials/footer.html %>
        </footer>
    </body>
</html>