<!DOCTYPE html>
<html lang="es">
    <head>
       <% include partials/head.html %>
    </head>
    <body>
    <div id="contenedor">
        <header>
             <section id="logo">
                <h1><a href="/"><img src="../images/logo_black.png" alt="logo"></a></h1>
            </section>
           <% include partials/menutop.html %>
        </header>
        <section id="texto_Precios">
            <div class="columna">
                <ul>
                    <li class="encabezado" id="cabeza"><p>Plan Individual</p><p class="temporal">¡Nuestro Plan más Popular!</p></li></ul>
                <div id="wraper">
                <ul>
                    <li class="texto_plano"><p>Servicio desde de una imagen.</p></li>
                    <li class="texto_plano"><p>Prueba Gratis las 3 primeras imágenes.</p></li>
                    <li class="texto_plano"><p>Entrega de imágenes en 24 horas.</p></li>
                    <li class="texto_plano"><p>Multiples opciones de edición de imágenes.</p></li>
                    <li class="texto_plano"><p>La mejor calidad.</p></li>
                    <li class="texto_plano"><p>Garantía al 100%.</p></li>
                </ul>
                </div>
                <div id="bajoprecio1"><p><a class="texto_plano">desde <b>USD</b></a><a class="megatex">$1.50</a><a class="texto_plano">por imagen</a></p><p class="texto_plano" name="blue">Recomendado</p>
                <div id="bajoprecio1"><p><a class="texto_plano">desde <b>USD</b></a><a class="megatex">$<%= precio %></a><a class="texto_plano">por imagen</a></p><p class="texto_plano"> Recomendado</p>
                
                </div>
                <div class="button2">
                    <a href="registro">Empieza Ya!</a>
                </div>
            </div>
            <div class="columna">
                <ul>
                    <li class="encabezado" id="cabeza"><p>Plan Empresarial</p>
                    <p class="temporal">Temporalmente sólo en México</p></li>
                </ul>
                <div id="wraper">
                <ul>
                    <li class="texto_plano"><p>Más de 2,500 imágenes mensuales.</p></li>
                    <li class="texto_plano"><p>Cuenta Empresarial.</p></li>
                    <li class="texto_plano"><p>Atención personalizada.</p></li>
                    <li class="texto_plano"><p>Entrega de imágenes en 24 horas.</p></li>
                    <li class="texto_plano"><p>Multiples opciones de edición de imágenes.</p></li>
                    <li class="texto_plano"><p>La mejor calidad.</p></li>
                    <li class="texto_plano"><p>Garantía al 100%.</p></li>
                </ul>
                </div>
                <div id="bajoprecio"><p class="megatex">Facturación</p><p class="megatex">Mensual</p></div>
                <div class="button1">
                    <a href="mailto:businessplan@mail-imgnpro.com">Contáctanos</a>
                </div>
            </div>
        </section>        
    </div>
        <footer class="certificate">
             <% include partials/footer.html %>
        </footer>
    </body>
</html>