<!DOCTYPE html>
<html lang="es">
    <head>
        <script src="../js/google.js"></script>
        <meta charset="utf-8">
        <title>IMGNpro, hagamos que tu producto destaque</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script src="../js/general.js"></script>
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script type="text/javascript">
            $(document).ready(function(){
                    $.ajax({
                        type: 'get',
                        url: '/listorders/5',
                        success: function (data) {
                            var statusfinal = '';
                            for (var i = 0; i < data.length; i++){

                                if (data[i].status ==='Por pagar'){
                                    statusfinal = "<a class='porpagar' href='/confirmpayorder/" + data[i].numorder + "'>Por Pagar</a>";
                                }
                                else if (data[i].status ==='En Proceso')
                                {
                                    statusfinal ="<a class='enproceso' href=''>En Proceso</a>";
                                }
                                else if (data[i].status ==='Terminado')
                                {
                                    statusfinal ="<a class='terminado' href=''>Terminado</a>";
                                }
                                else if (data[i].status ==='Entregado')
                                {
                                    statusfinal ="<a class='entregado' href=''>Entregado</a>";
                                }
                                else
                                {
                                    statusfinal =data[i].status;
                                }

                                var row = $("<tr>");
                                row.append($("<td>" + data[i].numorder + "</td>"))
                                     .append($("<td>" + data[i].imagecount + "</td>"))
                                     .append($("<td>" + toDateString(data[i].date) + "</td>"))
                                     .append($("<td>" + statusfinal + "</td>"));
                                    // .append($("<td><a href='/confirmpayorder/" + data[i].numorder + "'>PAGAR</a>"  + "</td>"));
                                $("#orderstable tbody").append(row);
                            }
                              

                        }
                    });
                    $.ajax({
                        type: 'get',
                        url: '/listspecs/5',
                        success: function (data) {
                            console.log(data);
                            for (var i = 0; i < data.length; i++){

                                if (data[i].typespec == 'free'){
                                    document.location.href="/chooseanimage";
                                    break;
                                }
                                var row = $("<tr>");
                                row.append($("<td>" + data[i].name + "</td>"))
                                     .append($("<td>" + toDateString(data[i].date) + "</td>"))
                                     .append($("<td>" + setDecimals(data[i].totalprice,2) + "</td>"))
                                     .append( $('<td><a id="icontable" href="/uploadimages/'+ data[i]._id +'"><img src="../images/icon_cloud.png" height="20px" width="20px"></a><a id="icontable"  href="especificaciones2/'+ data[i]._id + '"><img src="../images/icon_edit.png" height="20px" width="20px"></a></td>'));
                                $("#specstable tbody").append(row);
                            }
                              

                        }
                    });

            });

        </script>
       
    </head>
    <body>
        <header class="bienvenida">
            <ul>
                <li>Hola <a id="user" class="bold"><%= user.userlongname %></a><a class="bold">!</a></li>
                <li>Órdenes en Proceso <a id="orders" class="bold"><%= countorders %></a></li>
                <li><a id="salir" class="bold" href="logout">Salir</a></li>
            </ul>
        </header>
        <section id="menuver">
            <nav>
                <ul>
                    <li class="menulogo"><h1><a href="principal"><img src="../images/logo_black.png" alt="logo"></a></h1></li>
                    <li><a href="micuenta">Mi Cuenta</a></li>
                    <li><a href="historial">Historial</a></li>
                    <li><a href="especificaciones1">Especificaciones</a></li>
                    <li><a href="/subirimagen1">Subir Imagenes</a></li>
                    <li><a href="contacto">Contacto</a></li>
                </ul>
            </nav>
        </section>
    <section id="contenedor">
        <div id= "orderstable" class="tabla">
            <p class="encabezado">Mis Pedidos</p>
            <table>
                <tr>
                    <th>Orden</th>
                    <th>Imágenes</th>
                    <th>Fecha</th>
                    <th>Estatus</th>
                </tr>
                
            </table>
        </div>
        <hr>
        <div class="button2">
            <a href="subirimagen1">Crear pedido</a>
        </div>
        <br>
        <div id="specstable" class="tabla">
            <p class="encabezado">Especificaciones</p>
            <table>
                <tr>
                    <th>Nombre</th>
                    <th>Fecha</th>
                    <th>Costo (USD)</th>
                    <th></th>
                </tr>
                
            </table>
        </div>
        <hr>

        <section id="area_botones">
                <div class="buttonblue">
                <a href="especificaciones2"><img src="../images/icon_plus.png" height="15px" width="15px">Crear especificación</a>
                </div>
        </section>
        
    </section>
        <aside id="menurigth">
            <p class="encabezado"> Tutorial</p>
             <div class="video_med"><a onclick="ponleplay()" href="#openVideoModal"><img src="../images/tumbnail_video.jpg" width="140px"></a></div>
            <hr>
            <p class="encabezado"> FAQs</p>
            <p><a class="texto_plano">1. ¿Están seguros mis datos?</a></p>
            <p><a class="texto_plano">2. ¿Tiempo de Entrega?</a></p>
            <p><a class="texto_plano">3. ¿Prueba Gratis?</a></p>
            <p><a class="texto_plano">4. ¿Cómo Pago?</a></p>
            <div class="button1">
            <a href="faq">Ver más</a> 
            </div>
        </aside>
    </body>
</html>
