<!DOCTYPE html>
<html lang="es">
    <head>
       <% include partials/head.html %>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.min.js"></script>
        
    </head>
    <body>
    <div id="contenedor">
        <header>
            <section id="logo">
            <h1><a href="/"><img src="../images/logo_black.png" alt="logo"></a></h1>
            </section>
            <% include partials/menutop.html %>
        </header>
        <section id="registro">
            <div class="registro1">
                <p class="encabezado" id="cabeza">Regístrate</p>
                <p class="texto_plano">Crea tu cuenta para acceder a tus 3 primeras fotos Gratis</p>
                <br>
                <p class="texto_plano">regístrate con tu cuenta de</p>
            </div>
        </section>
        <section id="botones_redesReg">
            <div class="button3">
                <img class="redes_icon" src="../images/icon_f.png"><a href="/login/facebook">Facebook</a>
            </div>
            <div class="button4">
                <img class="redes_icon" src="../images/icon_g.png"><a href="/login/google">Google</a>
            </div>
            <!-- <div class="button5">
                <img class="redes_icon" src="../images/icon_l.png"><a>Linkedin</a>
            </div> -->
        </section>
        <section id="registro">
            <div class="registro1">
            <p class="texto_plano">o bien, regístrate con <a id="paraabrirmodal" href="#openRegistroModal">tu dirección de correo electrónico</a></p>
            </div>
        </section>
        <section id="registro_boton">
            <div class="registro1">
                <p class="texto_plano">¿Ya tienes cuenta?</p>
                <div class="button6"><a href="login">Empieza Ya!</a></div>
            </div>
        </section>
        <section id="registro_boton">
            <div class="registro1">
                <p class="texto_plano">¿Eres una empresa?</p>
                <div class="button7"><a href="contacto">Contáctanos</a></div>
            </div>
        </section>
    </div>
        
    <div id="openRegistroModal" class="modalDialogRegistro">
        <div>
            <a href="#close" title="Close" Class="close">X</a>
            <h1 class="encabezado">Introduce tus datos</h1>
            <form id="contactForm1" class="registro_form" action="/signup" method="post" name="registro_form">
                <ul>
                    <li>
                        <label id="etiquetas">Nombre de Usuario</label>
                        <input type="text" name="userlongname" placeholder="Lupito Pérez" maxlength="20" required>
                    </li>
                    <li>
                        <label id="etiquetas">eMail</label>
                        <input type="email" name="email" placeholder="lupito@industriaspatito.com" maxlength="50" required>
                    </li>
                    <li>
                        <label id="etiquetas">Contraseña</label>
                        <input type="password" name="password" id="password" maxlength="20" required>
                    </li>
                    <li>
                        <label id="etiquetas">Confirmar Contraseña</label>
                        <input type="password" id="confirmarpassword" maxlength="20" required>
                    </li>
                    <li id="checkbox">
                        <input type="checkbox" name="accept_terms" required><label id="terminos"><a href="terminosycondiciones">Acepto términos y condiciones</a></label>
                    </li>
                </ul>
                <div>
                    <h1 id="res_message"></h1>
                </div>   
                <div class="button2">
                    <input type="submit" value="Quiero mis 3 imágenes Gratis!">
                </div>   
                             
            </form>

            <script type="text/javascript">
                var frm = $('#contactForm1');
                frm.submit(function (ev) {
                    $.ajax({
                        type: frm.attr('method'),
                        url: frm.attr('action'),
                        data: frm.serialize(),
                        success: function (data) {
                            if (data.error == 1 ){
                                document.getElementById('res_message').innerHTML= data.message;    
                            }
                            else{
                                setTimeout(window.location='principal',1000);    
                            }
                        }
                    });

                    ev.preventDefault();
                });
            </script>
        </div>
    </div>
        <footer class="certificate">
              <% include partials/footer.html %>
        </footer>
    </body>
</html>