<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="utf-8">
        <title>the background remover</title>
        <link rel="stylesheet" href="../stylesheets/imgncss_session.css">
        <link rel="stylesheet" href="../stylesheets/dropzone.css">
        <link rel="shortcut icon" type="image/x-icon" href="../images/favicon.ico"/>
        <script src="../js/google.js"></script>
        <script src="https://code.jquery.com/jquery-3.1.0.js"></script>
        <script type="text/javascript" src="../js/dropzone.js"></script>
        <script src="../js/general.js"></script>
        <script type="text/javascript">
            Dropzone.autoDiscover = false;
            var acceptedFileType = ".jpg, .jpeg, .png, .tif, .tiff, .psd";
            var imageCount = 0;
            var imageUploadInfos =[];
            $(document).ready(function(){
                caltotalpay();
                $("div#myId").dropzone({
                    url:"https://<%= S3_BUCKET_NAME %>.s3.amazonaws.com/",
                    dictDefaultMessage: "<b>Suelta tus archivos aquí</b><br> <p class='texto_plano'> (o haz click)<p>",
                    dictRemoveFile: "Borrar imagen",
                    dictCancelUpload: "Borrar imagen",
                                    //{ "My-Awesome-Header": "header value" }
                    // Dropzone.prototype.defaultOptions.dictDefaultMessage = "Drop files here to upload";
                    // Dropzone.prototype.defaultOptions.dictFallbackMessage = "Your browser does not support drag'n'drop file uploads.";
                    // Dropzone.prototype.defaultOptions.dictFallbackText = "Please use the fallback form below to upload your files like in the olden days.";
                    // Dropzone.prototype.defaultOptions.dictFileTooBig = "File is too big ({{filesize}}MiB). Max filesize: {{maxFilesize}}MiB.";
                    // Dropzone.prototype.defaultOptions.dictInvalidFileType = "You can't upload files of this type.";
                    // Dropzone.prototype.defaultOptions.dictResponseError = "Server responded with {{statusCode}} code.";
                    // Dropzone.prototype.defaultOptions.dictCancelUpload = "Cancel upload";
                    // Dropzone.prototype.defaultOptions.dictCancelUploadConfirmation = "Are you sure you want to cancel this upload?";
                    // Dropzone.prototype.defaultOptions.dictRemoveFile = "Remove file";
                    // Dropzone.prototype.defaultOptions.dictMaxFilesExceeded = "You can not upload any more files.";

                    dictMaxFilesExceeded: "Ya no puedes cargar más imágenes, se ha alcanzado el límite de este paquete.",
                    dictInvalidFileType: "No puedes subir archivos de este tipo (solamente: .jpg, .tif, .psd y .png)",
                    method: "POST",
                    maxFilesize: 2000, // in mb
                    uploadMultiple: false,
                    paramName: "file",
                    //maxFiles: 10000,
                    thumbnailWidth: 100,
                    thumbnailHeight: 100,
                    parallelUploads: 20,
                    autoProcessQueue: true,
                    addRemoveLinks: true,
                    //previewTemplate: dropPreviewTemplate,
                    //autoQueue: false, // Make sure the files aren't queued until manually added
                    //previewsContainer: dropPreviewContainer, // Define the container to display the previews
                    clickable: true, //".fileinput-button" // Define the element that should be used as click trigger to select files.
                    acceptedFiles: acceptedFileType,
                    accept: function(file, cb) {
                    //override the file name, to use the s3 signature
                    //console.log(file);
                        var _fileName = normFileName(file.name); 
                        var params = {
                            filename: _fileName,
                            filetype: file.type,
                        };
                        if (this.files.length) {
                            var i, len, pre;

                            
                            for (i = 0, len = imageUploadInfos.length; i < len; i++) {
                                if (imageUploadInfos[i].imagename == _fileName ) {
                                    alert("El archivo: " + _fileName + " ya está agregado al pedido.");
                                    //this.files.splice(i,1);
                                    //cb();
                                    return (pre = file.previewElement) != null ? pre.parentNode.removeChild(file.previewElement) : void 0;
                                }
                            }

                        }

                        

                        //path to S3 signature
                        $.getJSON('/sign-s3', params).done(function(res) {
                            //console.log(data);
                            if (!res.policy) {
                                return cb('No se pudo recibir una URL para cargar la imagen');
                            }
                            file.postData = { key: res.key, AWSAccessKeyId: res.AWSAccessKeyId, acl: "public-read", policy: res.policy, signature: res.signature, 'content-type': file.type };
                            file.signedRequest = res.url;
                            cb();
                        }).fail(function() {
                            
                            alert("Falló al cargar la imagen");
                            // temporal
                            // imageCount++;
                            // $("div#imageCount").html(imageCount);
                            // caltotalpay();
                            
                            return cb('No se pudo obtener una url válida');
                            //file.fail = true;

                        });
                    },
                    sending: function(file, xhr, formData) {

                        console.log('sending')
                        // var _send = xhr.send;
                        // formData.append("fileName", "myName.tif");
                        // xhr.setRequestHeader('x-amz-acl', 'public-read');
                        // xhr.send = function() {
                        //     _send.call(xhr, file);
                        // }

                        $.each(file.postData, function (k, v) {
                            formData.append(k, v);
                        
                        });
                        formData.append("Content-Length", "200000000");

                    },
                    // processing:function(file){

                    //    // this.options.url = file.signedRequest;

                    // },
                    complete:function(file){
                        //if (file.accepted && file.status == 'error' && file.retryTime > 5) {
                        if (file.accepted && file.status == 'error') {
                        
                            file.accepted = false;
                            // removeStorageFile(file);
                            // app._checkDone(this);

                            // $(file.previewElement).find('.dz-remove').remove();
                            // $(file.previewElement).find('.dz-progress').fadeOut();

                            // app._showDefaultError(this, file, "Network Error!");
                            
                            alert("No se pudo cargar el archivo, favor de borrarlo de la lista y volver a intentar");
                            
                        } else {
                            // corregir esto para que solo agregue al array archivos completos
                            
                            if(file.accepted===true){    
                                 imageCount++;
                                //document.forms[0].imagelist.value = imageUploadInfos;
                                $("div#imageCount").html(imageCount);
                                caltotalpay();
                                imageUploadInfos.push({
                                    imagename: normFileName(file.name),
                                    width: file.width,
                                    height: file.height,
                                    length: file.size
                                });
                             }
                        }
                    },
                    removedfile: function(file) {
                        if(file.status !== 'error'){
                            //alert(file.fail);
                            if (file.accepted===true){
                                imageCount--;
                            }
                            deleteitemfile(normFileName(file.name));
                            $("div#imageCount").html(imageCount);
                            caltotalpay();
                        }
                       
                        if (file.previewElement != null){
                            var _ref = file.previewElement;
                            var params = {
                                filename: normFileName(file.name)
                             };
                            if ( file.upload.progress === 100 ) { // se evalua si se completó la carga
                                $.getJSON('/delete-s3', params).done(function(data) {
                                    if (data.error ===1) {
                                        //return cb('Falló al borrar el archivo');
                                        alert('No fue posible borrar el archivo del servidor');
                                    }
                                }).fail(function() {
                                    alert("No fue posible borrar el archivo");
                                });
                            }  

                           //console.log(this.files);
                            return(_ref.parentNode.removeChild(file.previewElement));
                        }
                        else{
                            return 0;
                        }
                    }

                });



                // var frm = $('#buttoncontorder');
                // frm.click(function (ev) {
                //     $.ajax({
                //         type: 'GET',
                //         url: 'neworder',
                //         data: '1',
                //         success: function (data) {
                //             if (data.error == 1 ){
                //                 document.getElementById('res_message').innerHTML= data.message;    

                //             }
                //             else{
                //                 setTimeout(window.location='subirimagen3',500);
                //             }
                //         }
                //     });

                //     ev.preventDefault();
                // });   

                //Obtener param de la url y si es gratis


               

                var buttonspec = $('#buttoncontorder');
                var frm = $('#orderForm');
                buttonspec.click(function (ev) {
                   if (imageCount > 0){
                    var ntotalpay = $("#ntotalpay").html();
                    $.ajax({
                        type: frm.attr('method'),
                        url: frm.attr('action'),
                        //data: {imageUploadInfos:imageUploadInfos, numorder:0},   
                        data: { 'imageUploadInfos': JSON.stringify(imageUploadInfos), 'imagecount': imageCount, 'specid': '<%= specid %>', totalpay: ntotalpay },
                        //frm.serialize(),
                        //contentType: "application/json",
                        success: function (data) {
                            if (data.error == 1 ){
                                // document.getElementById('res_message').innerHTML= data.message;
                                alert(data.message);    
                            }
                            else{
                                //alert(data.message); 
                                //if (data.typespec == 'free'){
                                //    setTimeout(window.location='/thankyou/' + data.numorder, 500 );
                                //}
                                //else{
                                    setTimeout(window.location='/confirmpayorder/' + data.numorder, 500 );
                                    //+ data.numorder,500);
                                //}
                            }
                        }
                     });
                   } 
                   else{
                        alert("Favor de cargar imágenes");
                   }

                    
                    ev.preventDefault();
                });  

// $("#specForm input[name='dropshadow']").change(function(){
//                     //if($(this).is(":checked")) {
//                         sumallextras();
//                     //}
//                 }); 

            function deleteitemfile(filename){
                for (i = 0, len = imageUploadInfos.length; i <= len - 1; i++) {
                    if (imageUploadInfos[i].imagename == filename) {
                        imageUploadInfos.splice(i,1);
                        break;
                    }
                }
            }

            function caltotalpay(){
                   
                    var ntotalprice = <%= totalprice %> * 100; 
                    var ntotalimages = $("div#imageCount").html();
                   // ntotalprice = ntotalprice * 100;
                    
                    var ntotalpay = ntotalprice * ntotalimages;

        // :0.20,
        // :0.40,
        // :2.40,
        // :0.60
                    ntotalpay = ntotalpay / 100;
                    ntotalpay = ntotalpay.toFixed(2); // redondea a dos decimales
                    $("#ntotalpay").html(setDecimals(ntotalpay,2));
                }


            });



        </script>

    </head>
    <body>
        <header class="bienvenida">
            <ul>
                <li>Hola <a id="user" class="bold"><%= user.userlongname %></a><a class="bold">!</a></li>
                <li>Órdenes en Proceso <a id="orders" class="bold"><%= countorders %></a></li>
                <li><a id="salir" class="bold" href="/logout">Salir</a></li>
            </ul>
        </header>
        <section id="menuver">
            <nav>
                <ul>
                    <li class="menulogo"><h1><a href="/principal"><img src="../images/logo_black.png" alt="logo"></a></h1></li>
                    <li><a href="/micuenta">Mi Cuenta</a></li>
                    <li><a href="/historial">Historial</a></li>
                    <li><a href="/especificaciones1">Especificaciones</a></li>
                    <li><a href="/subirimagen1">Subir Imagenes</a></li>
                    <li><a href="/contacto">Contacto</a></li>
                </ul>
            </nav>
        </section>
    <section id="contenedor">
        <p class="encabezado">Paso 7: Sube las imágenes, una vez terminado el proceso, da click en confirmar orden</p>
        <a class="ruta">Escoge una imagen</a>
        <a class="slash">/</a>
        <a class="ruta">Especificación</a>
        <a class="slash">/</a>
        <a class="ruta">Tamaño</a>
        <a class="slash">/</a>
        <a class="ruta">Alineación</a>
        <a class="slash">/</a>
        <a class="ruta">Margen</a>
        <a class="slash">/</a>
        <a class="ruta">Extras</a>
        <a class="slash">/</a>
        <a class="ruta_on">Subir imágenes</a>
        
        <div class="recontenedordrop">
        
            <div class="dropArea">
                <div id="myId" class="dropzone"> </div>
            </div>
            <hr>
            <div class="col3">
                <div class="col5">
                    <div class="droptable1">Nombre de Especificación</div>
                    <div class="droptable2"><%= namespec %></div>
                </div>
                <div class="col5">
                    <div class="droptable1">Imágenes</div>
                    <div id="imageCount" class="droptable2">0</div>
                </div>
                <div class="col5">
                    <div class="droptable1">Precio por Imagen</div>
                    <div class="droptable2">$ <%= totalprice %></div>
                    <!-- <input id="ntotalprice" type="hidden" value= <%= totalprice %>> -->
                </div>
                <div class="col5">
                    <div class="droptable1">Costo Total</div>
                    <p class="droptable2">USD<span class="droptable3">$ <span id="ntotalpay" class="droptable3">9.99 </span></span></p>
                </div>
            </div>
                    <div class="picnum2">El proceso de subida de imágenes puede tardar algunos minutos, ten paciencia</div>
        </div>
        <hr>
        <div class="button2">
            <a id="buttoncontorder">Confirmar Orden</a>
        </div>
        <form id = "orderForm" class="" action="/neworder" method="post">
            <input type="hidden" name="imagelist" placeholder="" value=""><br>
        </form>
        
    </section>
        <aside id="menurigth">
            <p class="encabezado"> Tutorial</p>
             <div class="video_med"><a onclick="ponleplay()" href="#openVideoModal"><img src="../images/tumbnail_video.jpg" width="140px"></a></div>
            <hr>
            <p class="encabezado"> FAQs</p>
            <p><a class="texto_plano">1. ¿Están seguros mis datos?</a></p>
            <p><a class="texto_plano">2. ¿Tiempo de Entrega?</a></p>
            <p><a class="texto_plano">3. ¿Prueba Gratis?</a></p>
            <p><a class="texto_plano">4. ¿Cómo Pago?</a></p>
            <div class="button1">
            <a href="/faq">Ver más</a> 
            </div>
        </aside>
    </body>
</html>
