* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: helvetica, arial, sans-serif;
}

html {
    background: #E5E5E5 no-repeat center center fixed;
    background-size: cover;
    min-width: 850px;
    height: 100%;
}

#menuver {
    padding: 0;
    margin-top: 0px;
    width: 160px;
    height: 100%;
    margin-bottom: 0px;
}


#menuver ul{
    height: 100%;
    position: fixed;
    width: 160px;
    background-color: #000;
    margin-top: 0px;
    z-index: 88888;
}

#menuver ul li:first-child {
    height: 110px;
    width: 160px;
    border-bottom: solid red 2px;
}

#menuver ul li:first-child:hover {
    background-color: red;
    padding-left: 0px;
    text-align: center;
}

#menuver h1 {
    text-align: center;
    transition: .2s;
}

#menuver li a {
    text-decoration: none;
    font-size: 12px;
    color: #FFFFFF;
    display: block;
    padding: 10px;
    transition: .2s;
}

#menuver li:hover{
    background-color: red;
    padding-left: 20px;
    transition: .2s;
}

.bienvenida {
    position: fixed;
    float: right;
    text-align: right;
    font-size: 12px;
    width: 100%;
    min-width: 400px;
    height: 40px;
    padding-top: 20px;
    margin-top: 0px;
    margin-right: 10px;
    display: inline-block;
    background: #E5E5E5;
    border-bottom: 2px #CCC solid;
    -webkit-border-image: 
      -webinear-gradient(to left, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0)) 0 0 100%;
    -moz-border-image:
      -moz-linear-gradient(to left, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0)) 0 0 100%;
    border-image:
        linear-gradient(to left, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0)) 0 0 100%;
}

.bienvenida ul{
    list-style: none;
    height: 40px; 
}

.bienvenida li{
    display: inline-block;
    padding: 5px;
    text-decoration: none;
    margin-left: 5px;
}

.bold{
    font-weight: bold;
    text-decoration: none;
}

.bienvenida li {
    color: #000000;
}

#salir:hover {
    color: #999999;
}

#menurigth {
    width: 180px;
    margin-top: 100px;
    float: right;
    display: inline-block;
    height: 100%;
    padding-left: 20px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-image: linear-gradient(to top, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0)) 1 100%;
}

#contenedor{
    float: left;
    margin-left: 200px;
    margin-top: 60px;
    display: inline-block;
    max-width: 57%;
    min-width: 620px;
}

hr {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0));
}

.encabezado {
    font-size: 28px;
    padding: 10px 5px;
}

.texto_plano {
    font-size: 12px;
}

.button1 a{
    border: 2px solid;
    border-color: #000000;
    color: #000000;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: .1s;
    margin-top: 30px;
}

.button2 a{
    background-color: red;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: .1s;
    float: right;
}

.button3 a{
    text-decoration: none;
    color: #FFFFFF;
}

.button3 {
    background-color: red;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    cursor: pointer;
    transition: .2s;
    margin-right: 20px;
}

.button1 a:hover, .button2 a:hover, .button3:hover {
    transition: .3s;
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.5);
}

/* ESTILO PARA EL BILBOARD */

#bilboard {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #FF0000;
    background: #500000;
    border: solid #990000 2px;
    height: 30px;	
    overflow: hidden;
    position: relative;
    box-shadow: 4px 4px 6px rgba(20, 20, 20, .5);
}

#bilboard2 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #00A0FF;
    background: #0156ad;
    border: solid #00A0FF 2px;
    height: 30px;	
    overflow: hidden;
    position: relative;
    box-shadow: 4px 4px 6px rgba(20, 20, 20, .5);
}

#bilboard span, #bilboard2 span {
     position: absolute;
     width: 100%;
     height: 100%;
     margin: 0;
     line-height: 30px;
     text-align: center;
     /* Starting position */
     -moz-transform:translateX(100%);
     -webkit-transform:translateX(100%);	
     transform:translateX(100%);
     /* Apply animation to this element */	
     -moz-animation: example1 15s linear infinite;
     -webkit-animation: example1 15s linear infinite;
     animation: example1 15s linear infinite;
}
    /* Move it (define the animation) */
    @-moz-keyframes example1 {
     0%   { -moz-transform: translateX(100%); }
     100% { -moz-transform: translateX(-100%); }
    }
    @-webkit-keyframes example1 {
     0%   { -webkit-transform: translateX(100%); }
     100% { -webkit-transform: translateX(-100%); }
    }
    @keyframes example1 {
     0%   { 
     -moz-transform: translateX(100%); /* Firefox bug fix */
     -webkit-transform: translateX(100%); /* Firefox bug fix */
     transform: translateX(100%); 		
     }
     100% { 
     -moz-transform: translateX(-100%); /* Firefox bug fix */
     -webkit-transform: translateX(-100%); /* Firefox bug fix */
     transform: translateX(-100%); 
     }
}

.recontenedor {
    min-height: 150px;
    border: 3px solid #000;
    padding: 10px 10px;
    max-width: auto;
    height: 270px;
    min-width: 570px;
    text-align: center;
}

.elbloque {
    position: relative;
    overflow: hidden;
}

.miniBoxNo {
    text-decoration: none;
    margin: 5px;
    width: 80px;
    height: 80px;
    background: #AAA;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    display: inline-block;
    cursor: default;
    transition: .3s;
}


.miniBox {
    text-decoration: none;
    margin: 5px;
    width: 80px;
    height: 80px;
    background: #555;
    border-radius: 10px;
    color: #FFF;
    text-align: center;
    display: inline-block;
    cursor: pointer;
    transition: .3s;
}

.miniBox:hover, .miniBoxNo:hover {
    background: #00A0FF;
    transition: .3s;
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.5);
}

.bigNumber {
    display: block;
    font-size: 20px;
    font-weight: bold;
    margin-top: 23px;
}

.miniText {
    display: block;
    font-size: 8px;
}

/*  MODAL   */

.modalDialog {
    color: #FFFFFF;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity: 0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity: 1;
    pointer-events: auto;
}

.modalDialog > div {
    width: 500px;
    height: auto;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 20px 20px;
    background: #000000;
}

.modalDialog .encabezado {
    text-align: center;
}

.hrmodal {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 20px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #555555, rgba(0, 0, 0, 0));
}

.hrmodal2 {
    width: 100%;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #555555, rgba(0, 0, 0, 0));
}

.modalDialog ul {
    width: 100%;
    display: inline-block;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
    vertical-align: top;
}

.modalDialog li {
    padding: 12px;
    position: relative;
}

.etiquetasxtras {
    display: inline-block;
    padding: 5px 8px;
    font-size: 12px;
    font-weight: bold;
}

.postextra {
    display: inline-block;
    padding: 5px 8px;
    font-size: 14px;
}

.extreprefix{
    font-size: 8px;
    margin-right: 4px;
}

.modalDialog :-moz-placeholder {color: #333333; font-size: 14px; font-style: italic;}
.modalDialog ::-webkit-input-placeholder {color: #333333; font-size: 14px; font-style: italic;}

.modalDialog input {
    padding: 5px 8px;
}

.infomodal {
    display: inline-block;
    width: 220px;
    height: 150px;
    margin: 0px;
    padding: 10px;
    vertical-align: top;
}

.texto_plano_modal {
    display: inline-block;
    padding: 10px;
    font-size: 12px;
    width: 200px;
    height: 130px;
    border: 1px dashed #555;
}

.buttonModal a{
    background-color: red;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    float: right;
    margin: 10px 37%;
    cursor: pointer;
    width: auto;
    height: auto;
}

.modalDialog input:focus {
    outline-color: #555555;
}

.close {
    background: #000000;
    color: #FFFFFF;
    border: 2px solid;
    border-color: #FFFFFF;
    line-height: 24px;
    position: absolute;
    right: -10px;
    text-align: center;
    top: -7px;
    width: 24px;
    text-decoration: none;
    font-size: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 24px;
}

.modalTip {
    color: #555;
    text-align: center;
    font-size: 14px;
    margin: 10px;
    font-weight: normal;
}

#res_message {
    color: red;
    text-align: center;
    font-size: 18px;
    margin: 10px;
    font-weight: lighter;
    font-style: italic;
}

#firstplace {
    text-align: center;
    width: 140px;
    height: 78px;
    background-image: url(../images/firstplace.png);
    background-size: 140px;
}

.encabezado2 {
    font-weight: bold;
    text-align: center;
    font-size: 28px;
    width: 140px;
}

.hraside {
    width: 140px;
}

.encabezado_aside {
    margin-top: 12px;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.imagenum {
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
}

.texto_plano_aside {
    font-size: 12px;
    display: inline-block;
}

.encabezado_aside2 {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
}


#contenedor[name="cuenta"] {
    float: left;
    margin-left: 200px;
    margin-top: 60px;
    display: inline-block;
    max-width: 57%;
    min-width: 450px;
}


.col1, .col2, col3{
    padding: 10px;
    display: inline-block;
    float: left;
}

.contactForm, .factForm {
    padding: 10px;
}

.contactForm select {
    background: none;
    font-size: 12px;
    font-weight: bold;
}

select[name="tipocuenta"] {
    width: 160px;
}

#micuenta{
    width: 400px;
    height: 100%;
}

#micuenta label{
    font-size: 10px;
    text-decoration: none;
}

#micuenta input{
    text-decoration: none;
    background: none;
    font-size: 12px;
    width: 180px;
    font-weight: bold;
    margin-bottom: 10px;
}

.encabezadoFact{
    font-size: 20px;
}

hr[name="hrcuenta"] {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0));
}

.col6 {
    padding: 10px;
    margin-top: 10px;
    margin-left: 0px;
    display: inline-block;
    float: left;
}

.factForm select {
    background: none;
    font-size: 12px;
    font-weight: bold;
    width: 160px;
    margin-bottom: 8px;
}

.requerido {
    color: red;
    font-weight: bold;
}