* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: helvetica, arial, sans-serif;
}

html {
    background: #f2f2f2 no-repeat center center fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

section, footer {
    box-sizing: border-box;
}

#botonintro a {
    color: #FFF;
    text-decoration: none;
}

#botonintro {
    display: inline-block;
    color: #FFF;
    line-height: 70px;
    vertical-align: bottom;
    font-size: 18px;
    font-weight: lighter;
    text-decoration: none;
    float: right;
    cursor: pointer;
    padding: 13px 10px 15px 10px;
    width: 160px;
    height: 72px;
}

#botonintro:hover > a {
    color: #0591ab;
    transition: .3s;
}

#logohead {
    width: 92px;
    height: 72px;
    margin-left: 30px;
    float: left;
    padding: 13px 10px 15px 10px;
}

#slogan {
    display: inline-block;
    color: #FFF;
    line-height: 70px;
    vertical-align: bottom;
    font-size: 18px;
    font-weight: lighter;
    padding: 13px 10px 15px 10px;
    height: 72px;
}

#loginTag {
    display: inline-block;
    color: #FFF;
    line-height: 70px;
    vertical-align: bottom;
    font-size: 14px;
    font-weight: bold;
    padding: 13px 50px 15px 10px;
    height: 72px;
    float: right;
}

#loginTag a {
    color: #00badc;
    text-decoration: none;
}

#loginTag a:hover {
    color: #0591ab;
    transition: .3s;
}

#header {
    z-index: 9999;
    margin-top: 0;
    text-align: center;
    position: fixed;
    height: 100px;
    width: 100%;
    background: #000;
}

#contheader{
    z-index: 1;
    text-align: center;
    height: 100px;
    width: 100%;
    position: absolute;
}

#backheader {
    display: inline-block;
    background: #00badc;
    height: 100px;
    width: 180px;
    float: right;
    margin-right: 0px;
}

#contenedor1 {
    text-align: center;
    padding: 30px;
    display: inline-block;
    width: 100%;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
}

/*
#contenedor1.sticky {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 0px;
}
*/

#contenedor1a {
    text-align: center;
    padding: 30px;
    display: inline-block;
    width: 100%;
    margin-top: 200px;
}

/*
#contenedor1a.sticky {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 30px;
    margin-top: 400px;
}
*/

#contHelp {
    display: inline-block;
    width: 100%;
    padding: 20px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    text-align: left;
}

.contactform {
    display: inline-block;
    width: 400px;
    padding: 20px;
    margin-top: 100px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    text-align: left;
}

.contactform1 {
    display: inline-block;
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    text-align: left;
}

#contregistro {
    display: inline-block;
    width: 400px;
    padding: 20px;
    margin-top: 100px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    text-align: left;
}

#contlogin {
    display: inline-block;
    width: 400px;
    padding: 20px;
    margin-bottom: 200px;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    text-align: left;
}

.redes_icon{
    margin-right: 5px;
    float: left;
    height: 16px;
}

.texto_plano {
    font-size: 12px;
    padding: 5px;
    text-decoration: none;
    font-weight: lighter;
    text-align: center;
}

.registro1 :-moz-placeholder {color: #ccc; font-size: 12px; font-style: italic; font-weight: lighter;}
.registro1 ::-webkit-input-placeholder {color: #ccc; font-size: 12px; font-style: italic; font-weight: lighter;}

input[name="userlongname"], input[name="email"], input[name="passLogin"], input[name="name"], input[name="emailcontact"] {
    display: inline-block;
    width: 370px;
    height: 20px;
    margin: 5px;
    padding: 10px;
    text-align: left;
    font-size: 12px;
    color: #000;
    background: #fff;
    border: solid 1px #CCC;
}

textarea[name="message"] {
    display: inline-block;
    width: 370px;
    height: 100px;
    margin: 5px;
    padding: 10px;
    text-align: left;
    font-size: 12px;
    color: #000;
    background: #fff;
    border: solid 1px #CCC;
}

input[name="password"] {
    display: inline-block;
    width: 41%;
    height: 20px;
    margin: 5px;
    padding: 10px;
    text-align: left;
    font-size: 12px;
    color: #000;
    background: #fff;
    border: solid 1px #CCC;
}

input[name="confirmpass"] {
    display: inline-block;
    width: 41%;
    height: 20px;
    margin: 5px;
    padding: 10px;
    text-align: left;
    font-size: 12px;
    color: #000;
    background: #fff;
    border: solid 1px #CCC;
    float: right
}

#check {
    margin: 5px;
}

.postcheck {
    display: inline-block;
    font-size: 12px;
    color: #000;
    text-align: left;
    margin: 5px;
    font-weight: lighter;
}

.terms {
    text-decoration: none;
    color: #00badc;
}

.buttonreg {
    display: inline-block;
    color: #FFFFFF;
    background: #00badc;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
    width: 98%;
    height: auto;
    transition: .1s;
    font-weight: lighter;
}

.button1 {
    display: inline-block;
    color: #FFFFFF;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    margin: 20px 10px;
    cursor: pointer;
    float: right;
    width: auto;
    height: auto;
    background-color: #00badc;
    transition: .1s;
}

.button3 {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
    width: 42%;
    height: auto;
    transition: .1s;
    text-align: center;
    border: solid 1px #c2c2c2;
    color: #000;
    font-weight: lighter;
}

.button4 {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    font-size: 12px;
    margin: 5px;
    cursor: pointer;
    width: 42%;
    height: auto;
    transition: .1s;
    text-align: center;
    border: solid 1px #c2c2c2;
    color: #000;
    font-weight: lighter;
    float: right;
}

.button5, .button6, .buttongoog{
    display: inline-block;
    color: #FFFFFF;
    padding: 5px;
    text-decoration: none;
    font-size: 12px;
    margin: 10px 10px;
    cursor: pointer;
    float: none;
    width: auto;
    height: auto;
    transition: .1s;
}

.button5 {
    background-color: #0952b8;
    transition: .1s;
}

.button6, .buttongoog {
    background-color: #d60000;
    transition: .1s;
}

.button5 a, .button6 a, .buttongoog a {
    text-decoration: none;
    font: 16px;
    color: #FFFFFF;
}

.button1:hover, .button3:hover, .button4:hover, .button5:hover, .button6:hover, .buttongoog:hover, .buttonreg:hover, .button7:hover {
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.4);
    transition: .2s
}

hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 1px;
    background: #CCC;
}

.supertext {
    font-size: 32px;
    font-weight: lighter;
    text-align: left;
    padding: 5px;
    margin-left: 15px;
    color: #000;
}

.supertextcenter {
    font-size: 32px;
    font-weight: lighter;
    text-align: center;
    padding: 5px;
    margin-left: 15px;
    color: #000;
}

.supertext2 {
    font-size: 36px;
    font-weight: lighter;
    text-align: center;
    padding: 5px;
    color: #000;
}

.supertext3 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
    color: #000;
    margin-top: 40px;
}

.notsupertext {
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
    padding: 5px;
    margin-left: 15px;
    color: #000;
}

.notsupertextHelp {
    font-size: 18px;
    font-weight: lighter;
    text-align: center;
    padding: 5px;
    margin-left: 15px;
    color: #000;
}

.notsupertextHelp a {
    text-decoration: none;
    color: #00badc; 
}

.notsupertextHelp a:hover {
    color: #0591ab;
    transition: .3s;
}

.notsupertextList {
    font-size: 18px;
    font-weight: lighter;
    text-align: left;
    padding: 5px;
    margin-left: 15px;
    color: #000;
    list-style: none;
}

li.notsupertextList:before {
    content: '\2022';
    color: #00badc;
    margin-right: 10px;
}

.subtext {
    text-align: left;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    margin-left: 15px;
    color: #aaa
}

.blueText {
    color: #00badc;
}

.rightVertLine {
    border-right: 1px solid #00badc;
}

.textnormal {
    font-size: 14px;
    text-align: left;
    padding: 5px;
    margin-left: 30px;
    color: #000;
}

.texto_plano {
    display: inline-block;
    font-size: 14px;
    text-align:right;
    padding: 5px;
    color: #c2c2c2;
    vertical-align: top;
    line-height: 30px;
    width: 12px;
}

.texto_plano2 {
    display: inline-block;
    font-size: 14px;
    text-align:center;
    padding: 5px;
    color: #c2c2c2;
    vertical-align: top;
    line-height: 30px;
}

.hro1 {
    background: #c2c2c2;
    display: inline-block;
    width: 47%;
    float: left;
}

.hro2 {
    background: #c2c2c2;
    display: inline-block;
    width: 47%;
    float: right;
}

.textcont {
    width: 40%;
    padding: 10px;
    display: inline-block;
    margin-right: 20px
}

.textcont2 {
    margin-top: 20px;
    width: 40%;
    padding: 10px;
    display: inline-block;
    margin-right: 20px;
}

.textcont2 li {
    list-style: none;
    margin-top: 10px;
}

.textcont3 {
    width: 40%;
    padding: 10px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.textcont4 {
    width: 25%;
    padding: 10px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: top;
}

.vidCont {
    text-align: center;
    padding: 20px;
    width: 60%;
    margin: 0 auto;
}

.imgHow {
    text-align: left;
}

.cycle ul li b {
    color: black;
}

.cycle ul li.active b {
    color: #00badc;
}

.fotoad {
    display: inline-block;
    width: 320px;
    float: right;
    margin-top: 20px;
}

.fotoad2 {
    display: inline-block;
    width: 180px;
    height: 180px;
    border-radius: 90px;
    box-shadow: 4px 4px 3px rgba(20, 20, 20, 0.4);
}

.picwrapper1 {
    margin-left: 40px;
    width: 340px;
    height: 340px;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    background: #00badc;
}

.picwrapper2 {
    margin-top: 40px;
    margin-right: 40px;
    width: 340px;
    height: 340px;
    display: inline-block;
    vertical-align: top;
    background: #00badc;
}

.picwrapper3 {
    width: 180px;
    height: 180px;
    border-radius: 90px;
    text-align: center;
    display: inline-block;
    vertical-align: bottom;
    background: #00badc;
}

.picandfooter {
    display: inline-block;
    width: 200px;
    padding: 20px;
    vertical-align: top;
}

.fotos {
    position: relative;
	display: inline-block;
}

.fotos ul li {
    list-style: none;
    display: none;
}

.fotos ul li.active {
    list-style: none;
    display: block;
}

.rotating-item1 {
	display: block;
	position: absolute;
	top: -14px;
	right: -170px
}

footer {
    text-align: center;
    padding: 20px;
    width: 100%;
    height: auto;
    background: #e2e2e2;
}

.contenedorfootnav {
    display: inline-block;
    text-align: left;
    width: 18%;
    vertical-align: top;
}

.titulo {
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.footnav {
    list-style: none;
    font-size: 12px;
    line-height: 24px;
}

.footnavtext {
    font-size: 12px;
}

.footnav a {
    text-decoration: none;
    color: #000;
}

.footnav a:hover {
    color: #00badc;
    cursor: pointer;
    font-weight: bold;
}

.contentpayforms {
    display: inline-block;
    width: 50%;
    height: 60px;
    margin-top: 20px;
    float: left;
}

.payforms {
    padding: 10px;
    height: 30px;
    display: inline-block;
}

.contentlang {
    display: inline-block;
    width: 50%;
    height: 60px;
    margin-top: 20px;
}

.selectLang select {
    background: transparent;
    width: 140px;
    padding: 5px;
    font-size: 12px;
    font-weight: lighter;
    line-height: 1;
    border: 0;
    border-radius: 0;
    height: 34px;
    color: #000;
    -webkit-appearance: none;
}

.selectLang select:hover {
    color: #00badc;
    cursor: pointer;
}

.selectLang {
    width: 180px;
    height: 34px;
    overflow: hidden;
    background: url(../images/dropdownArrow.png) no-repeat right;
    display: inline-block;
}

#mundo {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    border-right: solid 1px #00badc;
    padding-right: 10px;
}

button.accordion {
    background: #f2f2f2;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 80%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 24px;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background: #00badc;
    color: #FFF
}

div.panel {
    padding: 20px 0;
    display: none;
    background: #f2f2f2;
    border-bottom: 2px solid #ddd;
}

div.panel.show {
    display: inline-block;
    width: 80%;
}

.plans {
    height: 450px;
}

.button7 {
    display: inline-block;
    color: #FFFFFF;
    padding: 15px;
    text-decoration: none;
    font-size: 18px;
    font-weight: lighter;
    margin: 20px 10px;
    margin-left: 30px;
    cursor: pointer;
    float: left;
    width: auto;
    height: auto;
    background-color: #00badc;
    transition: .1s;
}

li.notsupertextList.nobullet:before {
    opacity: 0;
}

iframe {
    width: 70%;
    height: 600px;
}

.navicon {
    display: none;
}

/* para el menu */
    .show-menu {
        text-decoration: none;
        color: #fff;
        background: none;
        text-align: right;
        font-size: 30px;
        padding: 15px;
        padding-left: 0px;
        float: right;
        display: none;
    }
    
    #show-menu{
        display: none;
    }

    input[type=checkbox]:checked ~ #botonintro, input[type=checkbox]:checked ~ #loginTag, input[type=checkbox]:checked ~ #backheader {
        display: inline-block;
    }

/*INICIA MEDIA QUERTY*/


@media only screen and (max-width: 768px) {
    html {
        width: 100%;
        box-sizing: border-box;
        padding: 0px;
        text-align: center;
    }
    
    body {
        text-align: center;
        width: 100%;
    }
    
	.show-menu {
		display: inline-block;
        float: right;
	}
    
    
    #botonintro a {
        color: #FFF;
        text-decoration: none;
    }
    
    #botonintro {
        display: none;
        background: #00badc;
        line-height: 40px;
        vertical-align: bottom;
        font-size: 18px;
        font-weight: lighter;
        text-decoration: none;
        float: none;
        cursor: pointer;
        padding: 10px;
        width: 100%;
        height: 40px;
    }

    #botonintro:hover > a {
        color: #0591ab;
        transition: .3s;
    }

    #logohead {
        width: 70px;
        height: auto;
        margin-left: 10px;
        float: left;
        padding: 10px;
    }

    #slogan {
        line-height: 60px;
        font-size: 14px;
        font-weight: lighter;
        padding: 10px;
        height: 60px;
        float: left;
    }
    
    .navicon {
        display: inline-block;
        font-size: 25px;
        padding: 10px;
        float: right;
        margin-right: 10px;
        line-height: 60px;
    }
    
    .navicon a {
        text-decoration: none;
        color: #FFF
    }

    #loginTag {
        display: none;
        color: #FFF;
        line-height: 40px;
        vertical-align: bottom;
        font-size: 14px;
        font-weight: bold;
        padding: 10px;
        height: 40px;
        float: none;
        width: 100%;
        background: #000;
    }

    #loginTag a {
        color: #00badc;
        text-decoration: none;
    }

    #loginTag a:hover {
        color: #0591ab;
        transition: .3s;
    }

    #header {
        height: 80px;
    }

    #contheader{
        z-index: 1;
        text-align: center;
        height: 80px;
        width: 100%;
        position: absolute;
        display: block;
    }

    #backheader {
        display: none;
    }
    
    .textcont, .textcont2 {
        width: 100%;
        margin: 0;
        float: none;
        padding: 0px;
    }
    
    .supertext, .supertext2 {
        text-align: center;
        margin: 0;
        float: none;
    }
    
    .notsupertext {
        margin: 0px;
    }
    
    .notsupertextHelp {
        margin: 0px;
        margin-bottom: 20px;
    }
    
    .supertextcenter {
        text-align: center;
        margin: 0;
        margin-bottom: 40px;
    }
    
    .salto::before, .salto::after {
        content: ' ';
        display: block;
    }
    
    #contenedor1 {
        width: 100%;
        padding: 20px;
        margin: 0px;
        float: none;
        display: block;
        text-align: center;
        box-sizing: border-box;
    }
    
    #contenedor1a {
        padding: 20px;
        width: 100%;
        text-align: center;
    }
    
   #contHelp {
        width: 100%;
        padding: 0px;
        margin-top: 20px;
    }
    
    .picwrapper1 {
        text-align: center;
        width: 100%;
        height: auto;
        margin: 0px;
        margin-bottom: 40px;
    }
    
    .picwrapper2 {
        margin: 0;
        width: 100%;
        height: auto;
        text-align: center;
        display: inline-block;
        vertical-align: bottom;
    }
    
    .picwrapper3 {
        width: 100%;
        margin: 0;
        height: auto;
        text-align: center;
        border-radius: 50%;
    }
    
    .picandfooter {
        width: 100%;
        height: auto;
        margin: 0;
        padding: 0;
        margin-bottom: 40px; 
    }
    
    .rotating-item1 {
        display: inline-block;
        position: relative;
        top: 0;
        right: 0;
    }
    
    .fotoad{
        width: 94%;
    }
    
    .fotoad2 {
        width: 100%;
        height: auto;
        border-radius: 50%;
    }
    
    footer {
        display: none;
        padding: 0px;
    }
    
    #contregistro {
        width: 100%;
        margin: 0px;
        margin-bottom: 100px;
        padding: 0px;
        text-align: center;
        float: none;
    }
    
    .registro1 {
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    
    .contactform1 {
        width: 100%;
        padding: 0px;
        text-align: center;
    }
    
    .hro1, .hro2 {
        width: 40%;
    }
    
    .button1 {
        width: 100%;
        margin: 0px;
        margin-top: 20px;
        margin-bottom: 40px;
        padding: 15px;
        box-sizing: border-box;
    }
    
    .buttonreg {
        width: 100%;
        margin: 0px;
        margin-top: 20px;
        padding: 15px;
        box-sizing: border-box;
    }
    
   .button7 {
        display: inline-block;
        color: #FFFFFF;
        padding: 15px;
        text-decoration: none;
        font-size: 18px;
        font-weight: lighter;
        margin: 0;
        margin-left: 0;
        cursor: pointer;
        float: none;
        width: 100%;
        height: auto;
        background-color: #00badc;
        transition: .1s;
       box-sizing: border-box;
    }
    
    
    
    .button3, .button4 {
        width: 35%;
        float: none;
    }
    
    input[name="userlongname"], input[name="email"], input[name="passLogin"], input[name="name"], input[name="emailcontact"] {
        width: 100%;
        margin: 0px;
        margin-bottom: 5px;
        padding: 15px;
        box-sizing: border-box;
    }

    textarea[name="message"] {
        width: 100%;
        margin: 0px;
        margin-bottom: 5px;
        padding: 15px;
        box-sizing: border-box;
    }

    input[name="password"] {
        width: 100%;
        margin: 0px;
        margin-bottom: 5px;
        padding: 15px;
        box-sizing: border-box;
    }

    input[name="confirmpass"] {
        width: 100%;
        margin: 0px;
        margin-bottom: 5px;
        padding: 15px;
        box-sizing: border-box;
        float: none;
    }
    
    .textcont3 {
        width: 100%;
        padding: 10px;
        display: inline-block;
        margin: 0px;
        vertical-align: top;
        box-sizing: border-box;
    }
    
    .textcont4 {
        width: 100%;
        padding: 10px;
        margin: 0;
        box-sizing: border-box;
    }
    
    .imgHow {
        text-align: center;
    }
    
    .vidCont {
        text-align: center;
        padding: 20px;
        width: 100%;
        margin: 0 auto;
        box-sizing: border-box;
    }
    
    .rightVertLine {
        border-right: none;
    }
    
    .plans {
        height: auto;
    }
    
    .notsupertextList {
        font-size: 18px;
        font-weight: lighter;
        text-align: left;
        padding: 5px;
        margin: 0px;
        color: #000;
        list-style: none;
    }

    li.notsupertextList:before {
        content: '\2022';
        color: #00badc;
        margin-right: 10px;
    }

    .subtext {
        text-align: center;
        font-size: 18px;
        font-weight: bold;
        padding: 5px;
        margin-left: 0px;
        color: #aaa
    }

    .blueText {
        color: #00badc;
    }
}
