* {
    border: 0px;
    margin: 0px;
    padding: 0px;
    font-family: helvetica, arial, sans-serif;
}

html {
    background: #E5E5E5 no-repeat center center fixed;
    background-size: cover;
    min-width: 850px;
    height: 100%;
}

#menuver {
    padding: 0;
    margin-top: 0px;
    width: 160px;
    height: 100%;
    margin-bottom: 0px;
}


#menuver ul{
    height: 100%;
    position: fixed;
    width: 160px;
    background-color: #000000;
    margin-top: 0px;
}

#menuver ul li:first-child {
    background-color: #E5E5E5;
    height: 110px;
    width: 160px;
}

#menuver ul li:first-child:hover {
    background-color: #CCC;
    padding-left: 0px;
    text-align: center;
}

#menuver h1 {
    text-align: center;
    transition: .2s;
}

#menuver li a {
    text-decoration: none;
    font-size: 12px;
    color: #FFFFFF;
    display: block;
    padding: 10px;
    transition: .2s;
}

#menuver li:hover{
    background-color: red;
    padding-left: 20px;
    transition: .2s;
}

.bienvenida {
    float: right;
    text-align: right;
    font-size: 12px;
    width: 80%;
    min-width: 400px;
    height: 40px;
    padding-top: 20px;
    margin-top: 0px;
    margin-right: 10px;
    display: inline-block;
    border-bottom: 2px #CCC solid;
    -webkit-border-image: 
      -webinear-gradient(to left, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0)) 0 0 100%;
    -moz-border-image:
      -moz-linear-gradient(to left, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0)) 0 0 100%;
    border-image:
        linear-gradient(to left, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0)) 0 0 100%;
}

.bienvenida ul{
    list-style: none;
    height: 40px;
    
}

.bienvenida li{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
}

.bold{
    font-weight: bold;
    text-decoration: none;
}

.bienvenida li a{
    color: #000000;
}

#salir:hover {
    color: #999999;
}

#contenedor{
    float: left;
    margin-left: 200px;
    margin-top: 60px;
    display: inline-block;
    max-width: 57%;
    min-width: 400px;
}

.encabezado {
    font-size: 28px;
    padding: 10px 5px;
}

.texto_plano {
    font-size: 12px;
}

.tabla{
    margin-top: 0px;
    padding: 10px;
}

table{
    color: #000000;
    border-collapse: collapse;
    min-width: 400px;
    width: 100%;
}

th, td{
    padding: 5px;
}

th {
    text-decoration: none;
    font-size: 10px;
    text-align: left;
    font-weight: normal;
    border-bottom: 1px #CCC solid;
    -webkit-border-image: 
      -webinear-gradient(to left, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0)) 0 0 100%;
    -moz-border-image:
      -moz-linear-gradient(to left, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0)) 0 0 100%;
    border-image:
        linear-gradient(to left, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0)) 0 0 100%;
}

td {
    font-size: 14px;
    height: 20px;
}

.undone {
    color: #00a0ff;
}

.none {
    color: red;
}

hr {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0));
}

#icontable {
    margin-right: 5px;
    transition: .2s;
}

#icontable:hover {
    opacity: .5;
}

#menurigth {
    width: 180px;
    margin-top: 60px;
    float: right;
    display: inline-block;
    height: 100%;
    padding-left: 20px;
    border-width: 2px 2px 2px 2px;
    border-style: solid;
    border-image: linear-gradient(to top, rgba(0, 0, 0, 0), #CCCCCC, rgba(0, 0, 0, 0)) 1 100%;
}

.button1 a{
    border: 2px solid;
    border-color: #000000;
    color: #000000;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
    transition: .1s;
    margin-top: 30px;
}

.button2 a{
    background-color: red;
    color: #FFFFFF;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition: .1s;
    float: right;
}

#micuenta{
    width: 100%;
    height: 100%;
    
}

.col1, .col2{
    padding: 10px;
    display: inline-block;
    float: left;
}

.col2 {
    margin-left: 20px;
}

#micuenta label{
    font-size: 10px;
    text-decoration: none;
}

#micuenta input{
    text-decoration: none;
    background: none;
    font-size: 12px;
    width: 180px;
    font-weight: bold;
    margin-bottom: 10px;
}

#area_botones {
    width: auto;
    height: 40px;
    padding: 10px;
    margin-top: 20px;
}

#area_botones div{
    text-align: right;
    display: inline-block;
    float: right;
    margin-left: 12px
}

.buttonblue a{
    height: 20px;
    background-color: #00A0FF;
    color: #FFFFFF;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    cursor: pointer;
    transition: .1s;
    float: right
}

.buttonblue img {
    margin-right: 10px;
}

.especificaciones_form{
    padding: 10px;
    display: inline-block;
    float: left;
}

.label {
    display: inline-block;
    width: 133px;
    height: 95px;
    margin-left: 400px;
    position: absolute;
    margin-top: 70px;
    background: url(../images/label.svg);
    background-size: cover;
    text-align: center;
}

.texto_precio {
    color: #FFFFFF;
    font-size: 36px;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 0px;
}

.texto_plano4{
    color: #FFFFFF;
    font-size: 10px;
    font-style: italic;
    padding: 5px;
    margin-left: 5px;
    margin-right: 5px;
    margin-top: 5px;
}

.especificaciones_form label {
    font-size: 10px;
    text-decoration: none;
}

.especificaciones_form input {
    text-decoration: none;
    background: none;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}


.margin {
    width: 25px;
    padding-right: 5px;
    padding-left: 5px;
}

.especificaciones_form select {
    text-decoration: none;
    background: none;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

.postinput{
    font-size: 12px;
    font-weight: bold;
    margin-left: 3px;
}

.ruta_on{
    padding: 5px;
    display: inline-block;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.ruta{
    padding: 5px;
    display: inline-block;
    font-size: 16px;
    color: #999;
    margin-bottom: 10px;
}

.slash{
    display: inline-block;
    font-size: 18px;
    color: #999;
    margin-bottom: 10px;
}

.picnum {
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    float: right;
    padding: 2px;
    margin-top: 5px;
    margin-bottom: 15px;
}

.columna {
    display: inline-block;
    border: 2px solid #000000;
    width: 130px;
    height: 100px;
    padding: 20px;
    margin-top: 50px;
    vertical-align: bottom;
    cursor: pointer;
    text-decoration: none;
    color: #000000;
    transition: .2s;
    margin-right: 20px;
}

.columna:hover{
    z-index: 100;
    background-color: #00BFFF;
    color: #FFFFFF;
    border: 2px solid #00BFFF;
    transition: .3s;
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.2);
}

.encabezado2 {
    font-size: 20px;
}

.texto_plano2{
    margin-top: 20px;
    font-size: 12px;
}

.texto_plano3{
    font-size: 10px;
    font-style: italic;
    color: red;
    margin-top: 20px;
    transition: .2s;
}

#colok .encabezado2{
    color: r
    font-size: 22px;
    font-weight: bold;
}

#colok:hover {
    background-color: red;
    border: 2px solid red;
}

#colok:hover p{
    color: #FFFFFF;
    transition: .3s;
}

.buttonback a{
    border: 2px solid;
    border-color: #000000;
    color: #000000;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: left;
    transition: .2s;
    margin-top: 0px;
}

.buttonback a:hover, .buttoncont a:hover {
    box-shadow: 2px 2px 2px rgba(20, 20, 20, 0.2);
    transition: .3s;
}

.buttoncont a{
    border: 2px solid;
    border-color: #000000;
    color: #000000;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    float: right;
    transition: .2s;
    margin-top: 0px;
}

.recontenedor {
    min-height: 150px;
    border: 3px solid #000;
    padding: 20px 20px;
    max-width: auto;
    height: 240px;
}

.recontenedor form{
    display: block;
    text-decoration: none;
}

.recontenedor label {
    font-size: 10px;
    text-decoration: none;
}

.recontenedor input {
    text-decoration: none;
    background: none;
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    margin-bottom: 10px;
}

.recontenedor select {
    text-decoration: none;
    background: none;
    font-size: 12px;
    font-weight: bold;
    margin-bottom: 10px;
}

input[name="DPI"] {
    width: 38px;
    text-align: right;
    margin-right: 5px;
}

input, select {
    outline-color: #555555;
    cursor: pointer;
    text-decoration: none;
}

.checkcheck{
    max-width: 20px;
}

.postcheck{
    font-size: 12px;
    font-weight: bold;
}

:-moz-placeholder {color: #BBBBBB; font-size: 12px; font-style: italic; font-weight: normal;}
::-webkit-input-placeholder {color: #BBBBBB; font-size: 12px; font-style: italic; font-weight: normal;}