<!DOCTYPE html>
<html lang="es">
    <head>
        <% include partials/head.html %>
    </head>
    <body>
    <div id="contenedor">
        <header>
            <section id="logo">
            <h1><a href="/"><img src="../images/logo_black.png" alt="logo"></a></h1>
            </section>
        </header>
        <section id="contenedor">
            <div class="wait">
                <p class="encabezado" id="cabeza">¡Gracias por Registrarte Padawan!</p>
                <p class="texto_plano">pronto recibirás un correo con la confirmación de que tu cuenta a sido aceptada</p>
            </div>
        </section>
    </div>
        <footer class="certificate">
             <% include partials/footer.html %>
        </footer>
    </body>
</html>